<!DOCTYPE HTML>
<html>
<head>
<title>威客</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link href="css/share.css" rel="stylesheet">
</head>

<body>
<div class="share_top">
<div class="share_logo"><img src="images/back.png"></div>
<div class="center-icon"><img src="images/center.png"></div>
<div class="login_name">lujun3287715</div>
<div class="exit_menu">
<ul>
	<li><a href="#"><img src="images/set.png">个人设置</a></li>
    <li><a href="#"><img src="images/exit.png">退出账号</a></li>
</ul>
</div>
</div>
	<div class="contain_wrap">
	         <div class="contain_sub">
	           <div class="logo"><img src="images/logo.png" class="lgpic"></div>
               <span class="title"><span style=" margin-right:3px;">（李东）</span> 上传了<span style=" margin-left:5px;">老麦克唐纳</span></span>
               <span class="author">曲谱：约翰&#8226;汤普森简易钢琴教程1</span>  
                <span class="author">上传时间：2016/7/4 17:06:28</span>                             
	         </div>    
	   <div class="contain_pic">
       <div class="music-player">

  <div class="info">
    <div class="left">
      <a href="javascript:;" class="icon-shuffle"></a>
      <a href="javascript:;" class="icon-heart"></a>
    </div>
    <div class="center">
    <div class="jp-playlist">
      <ul>
        <li></li>
      </ul>
    </div>

    </div>
    <div class="right">
      <a href="javascript:;" class="icon-repeat"></a>
      <a href="javascript:;" class="icon-share"></a>
    </div>

    <div class="progress jp-seek-bar">
      <span class="jp-play-bar" style="width: 0%"></span>
    </div>
  </div>

  <div class="controls">
    <div class="current jp-current-time">00:00</div>
    <div class="play-controls">
      <a href="javascript:;" class="icon-previous jp-previous" title="previous"></a>
      <a href="javascript:;" class="icon-play jp-play" title="play"></a>
      <a href="javascript:;" class="icon-pause jp-pause" title="pause"></a>
      <a href="javascript:;" class="icon-next jp-next" title="next"></a>
    </div>
  </div>
  <div id="jquery_jplayer" class="jp-jplayer"></div>
</div>
	    </div>
    
</div>
            <div class="ab-box" style=" padding-bottom:0px; margin-top:20px; height:73px; position:relative;">
				<i style=" margin-left:20px;">上传视频</i>
                <div style=" position:absolute; left:90px; top:0px;">
				   <div class="picshow">
                   <img src="" id="imgview" style="display:none;" alt="">
                   </div>
                <div class="img_name">1.mp4</div>
                  <span class="ctrl-file">
                    <input type="file" class="filehide" name="filehide" onChange="filechange(this)">
                    <a href="#"></a>
                  </span>
                  <button class="submit-file" type="submit">提交</button>
                </div>
		   </div>
<div style=" margin:0 auto; text-align:center;"><button class="submitBtn" type="submit" style="outline:none;">提交给老师</button></div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.jplayer.min.js"></script>
<script src="js/jplayer.playlist.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>