<?xml version="1.0" encoding="GBK"?>
<group_report cross_name="$dataName" total_flag="$totalFlag" >
#foreach( $rowgroup in $rowGroupArray)
<row_group name="$groupNameMap.get($rowgroup)">$groupMap.get($rowgroup)</row_group>
#end
#foreach( $colgroup in $colGroupArray)
<column_group name="$groupNameMap.get($colgroup)">$groupMap.get($colgroup)</column_group>
#end
#foreach( $formdata in $dataList)
<data>$formdata</data>
#end   
</group_report>