  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="text/javascript">
  $(function(){
    $(".navContent").removeClass("orange");
  });
  </script>
     <div class="left">
<!-- 代码 开始 --> 
<div class="subNavBox">
	     <ul  style="font-size: 16px;line-height: 40px; text-align: center;width: 220px;">
		 <li class="subNav" ><a href="/agency/index">后台主页</a></li> 
		 <li class="subNav" ><a href="/agency/userList">用户信息列表</a></li>
		 <li class="subNav" ><a href="/agency/toAddUser">添加用户</a></li>
		 <li class="subNav" ><a href="/agency/SNList">SN编号对应关系列表</a></li>  
	     <li class="subNav" ><a href="/agency/toAddSN">添加序列号对应关系</a></li> 
	</ul>  
</div>
<!-- 代码 结束 -->
</div>