<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klsw.pianoCommon.api.mapper.TbClassroomMapper">
    <resultMap id="BaseResultMap" type="com.klsw.pianoCommon.api.model.TbClassroom">
        <!--
          WARNING - @mbggenerated
        -->
        <result column="ID" jdbcType="INTEGER" property="id"/>
        <result column="Title" jdbcType="VARCHAR" property="title"/>
        <result column="ClassType" jdbcType="INTEGER" property="classtype"/>
        <result column="Imgpath" jdbcType="VARCHAR" property="imgpath"/>
        <result column="Serices" jdbcType="VARCHAR" property="serices"/>
        <result column="Keynote" jdbcType="VARCHAR" property="keynote"/>
        <result column="VideoPath" jdbcType="VARCHAR" property="videopath"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="auditing" jdbcType="TINYINT" property="auditing"/>
        <result column="addDatetime" jdbcType="TIMESTAMP" property="adddatetime"/>
        <result column="cwkuserid" jdbcType="VARCHAR" property="cwkuserid"/>
        <result column="Characteristic" jdbcType="LONGVARCHAR" property="characteristic"/>
    </resultMap>

    <select id="selectClassroomList" parameterType="java.lang.Integer" resultType="com.klsw.pianoCommon.api.model.TbClassroom">
      select t1.*,t2.typename
      from tb_Classroom t1 join
      tb_ClassType t2 on t1.ClassType=t2.ID
      WHERE t2.ID = #{0}
      order by t1.ID
    </select>
</mapper>