<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klsw.pianoCommon.api.mapper.TbCwkmanagerMapper">
  <resultMap id="BaseResultMap" type="com.klsw.pianoCommon.api.model.TbCwkmanager">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="UserPWD" jdbcType="VARCHAR" property="userpwd" />
    <result column="Auth" jdbcType="INTEGER" property="auth" />
  </resultMap>
</mapper>