<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klsw.pianoCommon.api.mapper.TbMidclassMapper">
  <resultMap id="BaseResultMap" type="com.klsw.pianoCommon.api.model.TbMidclass">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="ClassName" jdbcType="VARCHAR" property="classname" />
  </resultMap>
</mapper>