<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.klsw.pianoCommon.api.mapper.TbMusicMapper" >
  <resultMap id="BaseResultMap" type="com.klsw.pianoCommon.api.model.TbMusic" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="album_title" property="albumTitle" jdbcType="VARCHAR" />
    <result column="pic_small" property="picSmall" jdbcType="VARCHAR" />
    <result column="file_link" property="fileLink" jdbcType="VARCHAR" />
  </resultMap>
</mapper>