<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klsw.pianoCommon.api.mapper.WxTokenMapper">
  <resultMap id="BaseResultMap" type="com.klsw.pianoCommon.api.model.WxToken">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="ticket" jdbcType="VARCHAR" property="ticket" />
    <result column="utp" jdbcType="BIGINT" property="utp" />
  </resultMap>
</mapper>