body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1334px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:1334px;
  height:750px;
}
#u12762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12763 {
  position:absolute;
  left:0px;
  top:0px;
}
#u12763_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background-image:none;
}
#u12763_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:1334px;
  height:43px;
}
#u12767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:65px;
}
#u12768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:1334px;
  height:65px;
  opacity:0.3;
}
#u12769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:85px;
}
#u12770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:667px;
  width:1334px;
  height:85px;
  opacity:0.3;
}
#u12771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12772 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:57px;
  width:40px;
  height:40px;
}
#u12773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u12774 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:61px;
  width:15px;
  height:26px;
  color:#FFFFFF;
}
#u12775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12776 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:10px;
  width:93px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u12778 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:15px;
  width:24px;
  height:17px;
}
#u12779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12780 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:10px;
  width:59px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12783 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:10px;
  width:47px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u12785 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:13px;
  width:48px;
  height:21px;
  color:#000000;
}
#u12786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12787_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1339px;
  height:9px;
}
#u12787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:748px;
  width:1334px;
  height:4px;
}
#u12788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12789_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:411px;
  height:9px;
}
#u12789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:749px;
  width:406px;
  height:4px;
  color:#FF0000;
}
#u12790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12791 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:55px;
  width:253px;
  height:43px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12793 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:691px;
  width:76px;
  height:38px;
  opacity:0.9;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u12795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u12796 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:682px;
  width:56px;
  height:56px;
}
#u12797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u12798 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:688px;
  width:29px;
  height:45px;
}
#u12799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u12800 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:690px;
  width:100px;
  height:41px;
  opacity:0.6;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:832px;
  width:1334px;
  height:750px;
}
#u12803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12804 {
  position:absolute;
  left:0px;
  top:830px;
}
#u12804_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background-image:none;
}
#u12804_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:301px;
}
#u12807 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:448px;
  width:537px;
  height:301px;
}
#u12808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12804_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  visibility:hidden;
  background-image:none;
}
#u12804_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:1121px;
}
#u12811 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:-186px;
  width:748px;
  height:1121px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u12812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:552px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:832px;
  width:1334px;
  height:43px;
}
#u12814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:65px;
}
#u12815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:874px;
  width:1334px;
  height:65px;
  opacity:0.3;
}
#u12816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:85px;
}
#u12817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1497px;
  width:1334px;
  height:85px;
  opacity:0.3;
}
#u12818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12819 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:887px;
  width:40px;
  height:40px;
}
#u12820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u12821 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:891px;
  width:15px;
  height:26px;
  color:#FFFFFF;
}
#u12822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12823 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:840px;
  width:93px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u12825 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:845px;
  width:24px;
  height:17px;
}
#u12826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12827 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:840px;
  width:59px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12830 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:840px;
  width:47px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u12832 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:843px;
  width:48px;
  height:21px;
  color:#000000;
}
#u12833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12834_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1339px;
  height:9px;
}
#u12834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1578px;
  width:1334px;
  height:4px;
}
#u12835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12836_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:411px;
  height:9px;
}
#u12836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1579px;
  width:406px;
  height:4px;
  color:#FF0000;
}
#u12837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12838 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:885px;
  width:253px;
  height:43px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12840 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1521px;
  width:76px;
  height:38px;
  opacity:0.9;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u12842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u12843 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1512px;
  width:56px;
  height:56px;
}
#u12844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u12845 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:1518px;
  width:29px;
  height:45px;
}
#u12846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u12847 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1520px;
  width:100px;
  height:41px;
  opacity:0.6;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12849 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:1517px;
  width:100px;
  height:46px;
  font-size:20px;
  color:#FF0000;
}
#u12850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u12851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12853 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:17px;
  width:13px;
  height:13px;
}
#u12854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12855 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:17px;
  width:13px;
  height:13px;
}
#u12856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12857 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:17px;
  width:13px;
  height:13px;
}
#u12858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12859 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:17px;
  width:13px;
  height:13px;
}
#u12860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u12861 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:18px;
  width:11px;
  height:11px;
}
#u12862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12865 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:849px;
  width:13px;
  height:13px;
}
#u12866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12867 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:849px;
  width:13px;
  height:13px;
}
#u12868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12869 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:849px;
  width:13px;
  height:13px;
}
#u12870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12871 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:849px;
  width:13px;
  height:13px;
}
#u12872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u12873 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:850px;
  width:11px;
  height:11px;
}
#u12874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1656px;
  width:1334px;
  height:750px;
}
#u12876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12877 {
  position:absolute;
  left:0px;
  top:1654px;
}
#u12877_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background-image:none;
}
#u12877_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1656px;
  width:1334px;
  height:43px;
}
#u12881 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:65px;
}
#u12882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1698px;
  width:1334px;
  height:65px;
  opacity:0.3;
}
#u12883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:85px;
}
#u12884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2321px;
  width:1334px;
  height:85px;
  opacity:0.3;
}
#u12885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12886 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:1711px;
  width:40px;
  height:40px;
}
#u12887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u12888 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1715px;
  width:15px;
  height:26px;
  color:#FFFFFF;
}
#u12889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12890 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:1664px;
  width:93px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u12892 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1669px;
  width:24px;
  height:17px;
}
#u12893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12894 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:1664px;
  width:59px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12897 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:1664px;
  width:47px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u12899 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:1667px;
  width:48px;
  height:21px;
  color:#000000;
}
#u12900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12901_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1339px;
  height:9px;
}
#u12901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2402px;
  width:1334px;
  height:4px;
}
#u12902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12903_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:411px;
  height:9px;
}
#u12903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2403px;
  width:406px;
  height:4px;
  color:#FF0000;
}
#u12904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12905 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1709px;
  width:253px;
  height:43px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12907 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:2345px;
  width:76px;
  height:38px;
  opacity:0.9;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u12909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u12910 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:2336px;
  width:56px;
  height:56px;
}
#u12911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u12912 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:2342px;
  width:29px;
  height:45px;
}
#u12913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u12914 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:2344px;
  width:100px;
  height:41px;
  opacity:0.6;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12918 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:1671px;
  width:13px;
  height:13px;
}
#u12919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12920 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1671px;
  width:13px;
  height:13px;
}
#u12921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12922 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:1671px;
  width:13px;
  height:13px;
}
#u12923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12924 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1671px;
  width:13px;
  height:13px;
}
#u12925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u12926 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1672px;
  width:11px;
  height:11px;
}
#u12927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12928 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:2341px;
  width:100px;
  height:46px;
  font-size:20px;
  color:#FF0000;
}
#u12929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
