<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>威客</title>
<link href="css/index.css" rel="stylesheet">
<link href="css/add.css" rel="stylesheet">

</head>

<body>
<div class="newidx-nav">
<ul>
<li><a href="info.html" class="idx-f1"><img src="images/homework.png"><br><span>作业</span></a></li>
<li><a href="list.html"><img src="images/friends.png"><br><span>朋友圈</span></a></li>
<li><a href="list.html"><img src="images/friends.png"><br><span>威豆商城</span></a></li>
<li><a href="sale.html"><img src="images/question.png"><br><span>我的</span></a> </li>
</ul>
</div>
<div class="newhm-menu">
<ul>
	<li><a href="order.html" class="idx-f2">全部作业</a></li>
    <li><a href="#"><img src="images/no_submit.png">未提交</a></li>
    <li><a href="#"><img src="images/submit_icon.png">已提交</a></li>
    <li><a href="#"><img src="images/corrected.png">已批改</a></li>
    <li><a href="#" style=" color:#535353;">编辑<span style=" color:#e70012; margin-left:8px;">删除</span></a></li>    
</ul>
</div>

<div class="homework">
<ul>
	<li><a href="#" class="no_submit"><span style=" font-size:14px;">车尔尼599</span><span>16/12/01 15:00</span></a><div class=" check_circle no_check"></div></li>
    <li><a href="#" class="no_submit"><span style=" font-size:14px;">车尔尼599</span><span>16/12/01 15:00</span></a><div class=" check_circle already_check"></div></li>
	<li><a href="#" class="no_submit"><span style=" font-size:14px;">车尔尼599</span><span>16/12/01 15:00</span></a></li>
	<li><a href="#" class="no_submit"><span style=" font-size:14px;">车尔尼599</span><span>16/12/01 15:00</span></a></li>
    <li><a href="#" class="submita"><span style=" font-size:14px;">车尔尼599</span><span>16/12/01 15:00</span><div class="no_answer"></div></a></li>
	<li><a href="#" class="submita"><span style=" font-size:14px;">车尔尼599</span><span>16/12/01 15:00</span></a></li>
	<li><a href="#" class="submita"><span style=" font-size:14px;">车尔尼599</span><span>16/12/01 15:00</span></a></li>
    <li><a href="#" class="corrected"><span style=" font-size:14px;">车尔尼599</span><span>16/12/01 15:00</span></a></li>
	<li><a href="#" class="corrected"><span style=" font-size:14px;">车尔尼599</span><span>16/12/01 15:00</span><div class="no_answer"></div></a></li> 
          
</ul>
</div>
  <div class="delete_bg"></div>
    <div class="delete_homework">
                  <div class="dele_que">是否确认删除？</div>
                  <div class="dele_bao">
                     <input name="" type="submit" value="确定" class="course_button" />
                     <input name="" type="button" value="取消" class="cancel_button" style="margin-left:20px;" />
                  </div>
     </div>
</body>
</html>