body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1334px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:750px;
}
#u12476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12477 {
  position:absolute;
  left:0px;
  top:0px;
}
#u12477_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background-image:none;
}
#u12477_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12477_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  visibility:hidden;
  background-image:none;
}
#u12477_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:301px;
}
#u12482 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:448px;
  width:537px;
  height:301px;
}
#u12483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12477_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  visibility:hidden;
  background-image:none;
}
#u12477_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u12488 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:112px;
  width:185px;
  height:263px;
}
#u12489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u12490 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:112px;
  width:185px;
  height:263px;
}
#u12491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u12492 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:112px;
  width:185px;
  height:263px;
}
#u12493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u12494 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:112px;
  width:185px;
  height:263px;
}
#u12495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:2px;
}
#u12496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:1334px;
  height:1px;
}
#u12497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:35px;
}
#u12498 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:16px;
  width:71px;
  height:52px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:35px;
}
#u12499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:36px;
}
#u12500 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:24px;
  width:20px;
  height:36px;
}
#u12501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12477_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  visibility:hidden;
  background-image:none;
}
#u12477_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:1121px;
}
#u12504 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:-186px;
  width:748px;
  height:1121px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u12505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:552px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:43px;
}
#u12508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12511 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:15px;
  width:13px;
  height:13px;
}
#u12512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12513 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:15px;
  width:13px;
  height:13px;
}
#u12514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12515 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:15px;
  width:13px;
  height:13px;
}
#u12516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12517 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:15px;
  width:13px;
  height:13px;
}
#u12518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u12519 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:16px;
  width:11px;
  height:11px;
}
#u12520 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:65px;
}
#u12521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:1334px;
  height:65px;
  opacity:0.3;
}
#u12522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:85px;
}
#u12523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:665px;
  width:1334px;
  height:85px;
  opacity:0.3;
}
#u12524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12525 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:55px;
  width:40px;
  height:40px;
}
#u12526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12527 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:8px;
  width:93px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u12529 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:13px;
  width:24px;
  height:17px;
}
#u12530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12531 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:8px;
  width:59px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12534 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:8px;
  width:47px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u12536 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:11px;
  width:48px;
  height:21px;
  color:#000000;
}
#u12537 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12538_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1339px;
  height:9px;
}
#u12538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:746px;
  width:1334px;
  height:4px;
}
#u12539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12540 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:689px;
  width:76px;
  height:38px;
  opacity:0.9;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u12542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u12543 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:680px;
  width:56px;
  height:56px;
}
#u12544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u12545 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:686px;
  width:29px;
  height:45px;
}
#u12546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u12547 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:688px;
  width:100px;
  height:41px;
  opacity:0.6;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12549 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:668px;
  width:137px;
  height:77px;
  overflow:hidden;
}
#u12549_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:77px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12549_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:47px;
}
#u12552 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:0px;
  width:43px;
  height:47px;
  opacity:0.7;
  color:#FFFFFF;
}
#u12553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12554 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:47px;
  width:41px;
  height:30px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12549_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:77px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12549_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12556 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:13px;
  width:100px;
  height:46px;
  font-size:20px;
  color:#FF0000;
}
#u12557 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u12558 {
  position:absolute;
  left:1251px;
  top:689px;
}
#u12558_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background-image:none;
}
#u12558_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12558_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  visibility:hidden;
  background-image:none;
}
#u12558_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12563_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:411px;
  height:9px;
}
#u12563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:747px;
  width:406px;
  height:4px;
  color:#FF0000;
}
#u12564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12565 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:683px;
  width:17px;
  height:17px;
}
#u12566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12567 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:53px;
  width:253px;
  height:43px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
