<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>威客</title>
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/add.css" rel="stylesheet">
</head>
<body>
<div class="public_top">
    <div class="public_back"><a href="#"><img src="/images/back_c.png"></a></div>
    <div class="select_name">签约管理</div>
    <div class="select-icon"></div>
</div>
<div>
    <div class="pro_detail">
        <ul>
            <li><a href="/sign/toSignTeacherList">签约老师</a></li>
            <li class="hda"><a href="/sign/toSignList">签约记录</a></li>
        </ul>
    </div>
    <div th:if="${pageInfo.list}">
        <div class="sign_teali">
            <span style=" margin-left:20px;">张老师</span>
            <span class="sign_mixture">已到期<a href="#">续签</a></span>
        </div>
        <div class="sign_teali">
            <span style=" margin-left:20px;">张老师</span>
            <span class="sign_mixture sign_c1">已签约</span>
        </div>
    </div>
    <div class="sign_teacher" th:if="${pageInfo.list==null}">暂无签约老师！</div>
    <div class="find-teacher"><a href="#"><img src="/images/find_teacher.png"></a></div>
</div>
</body>
</html>