body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7457 {
  position:absolute;
  left:201px;
  top:27px;
  width:1334px;
  height:750px;
}
#u7458 {
  position:absolute;
  left:2px;
  top:367px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7459 {
  position:absolute;
  left:201px;
  top:25px;
}
#u7459_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background-image:none;
}
#u7459_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u7460 {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u7461 {
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7459_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  visibility:hidden;
  background-image:none;
}
#u7459_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u7462 {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u7463 {
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:301px;
}
#u7464 {
  position:absolute;
  left:797px;
  top:448px;
  width:537px;
  height:301px;
}
#u7465 {
  position:absolute;
  left:2px;
  top:142px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7459_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  visibility:hidden;
  background-image:none;
}
#u7459_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7466 {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u7467 {
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:1121px;
}
#u7468 {
  position:absolute;
  left:293px;
  top:-186px;
  width:748px;
  height:1121px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u7469 {
  position:absolute;
  left:2px;
  top:552px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7459_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  visibility:hidden;
  background-image:none;
}
#u7459_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7470 {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u7471 {
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u7474 {
  position:absolute;
  left:31px;
  top:112px;
  width:185px;
  height:263px;
}
#u7475 {
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u7476 {
  position:absolute;
  left:219px;
  top:112px;
  width:185px;
  height:263px;
}
#u7477 {
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u7478 {
  position:absolute;
  left:408px;
  top:112px;
  width:185px;
  height:263px;
}
#u7479 {
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u7480 {
  position:absolute;
  left:596px;
  top:112px;
  width:185px;
  height:263px;
}
#u7481 {
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:2px;
}
#u7482 {
  position:absolute;
  left:0px;
  top:83px;
  width:1334px;
  height:1px;
}
#u7483 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:35px;
}
#u7484 {
  position:absolute;
  left:632px;
  top:16px;
  width:71px;
  height:52px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:35px;
}
#u7485 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:36px;
}
#u7486 {
  position:absolute;
  left:22px;
  top:24px;
  width:20px;
  height:36px;
}
#u7487 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7489 {
  position:absolute;
  left:201px;
  top:27px;
  width:1334px;
  height:43px;
}
#u7490 {
  position:absolute;
  left:2px;
  top:14px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7492 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u7493 {
  position:absolute;
  left:215px;
  top:42px;
  width:13px;
  height:13px;
}
#u7494 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u7495 {
  position:absolute;
  left:229px;
  top:42px;
  width:13px;
  height:13px;
}
#u7496 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u7497 {
  position:absolute;
  left:244px;
  top:42px;
  width:13px;
  height:13px;
}
#u7498 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u7499 {
  position:absolute;
  left:258px;
  top:42px;
  width:13px;
  height:13px;
}
#u7500 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u7501 {
  position:absolute;
  left:272px;
  top:43px;
  width:11px;
  height:11px;
}
#u7502 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:65px;
}
#u7503 {
  position:absolute;
  left:201px;
  top:69px;
  width:1334px;
  height:65px;
  opacity:0.3;
}
#u7504 {
  position:absolute;
  left:2px;
  top:24px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:85px;
}
#u7505 {
  position:absolute;
  left:201px;
  top:692px;
  width:1334px;
  height:85px;
  opacity:0.3;
}
#u7506 {
  position:absolute;
  left:2px;
  top:34px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7507 {
  position:absolute;
  left:1466px;
  top:82px;
  width:40px;
  height:40px;
}
#u7508 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u7509 {
  position:absolute;
  left:293px;
  top:35px;
  width:93px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u7510 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u7511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u7511 {
  position:absolute;
  left:397px;
  top:40px;
  width:24px;
  height:17px;
}
#u7512 {
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u7513 {
  position:absolute;
  left:839px;
  top:35px;
  width:59px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u7514 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7515 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u7516 {
  position:absolute;
  left:1422px;
  top:35px;
  width:47px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u7517 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u7518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u7518 {
  position:absolute;
  left:1475px;
  top:38px;
  width:48px;
  height:21px;
  color:#000000;
}
#u7519 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7520_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:411px;
  height:9px;
}
#u7520 {
  position:absolute;
  left:201px;
  top:774px;
  width:406px;
  height:4px;
  color:#FF0000;
}
#u7521 {
  position:absolute;
  left:2px;
  top:-6px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7522 {
  position:absolute;
  left:219px;
  top:80px;
  width:253px;
  height:43px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7523 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u7524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u7524 {
  position:absolute;
  left:295px;
  top:716px;
  width:76px;
  height:38px;
  opacity:0.9;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u7525 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u7526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u7527 {
  position:absolute;
  left:229px;
  top:707px;
  width:56px;
  height:56px;
}
#u7528 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u7529 {
  position:absolute;
  left:243px;
  top:713px;
  width:29px;
  height:45px;
}
#u7530 {
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u7531 {
  position:absolute;
  left:381px;
  top:715px;
  width:100px;
  height:41px;
  opacity:0.6;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7532 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7533 {
  position:absolute;
  left:1285px;
  top:695px;
  width:137px;
  height:77px;
  overflow:hidden;
}
#u7533_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:77px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7533_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7535 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:47px;
}
#u7536 {
  position:absolute;
  left:89px;
  top:0px;
  width:43px;
  height:47px;
  opacity:0.7;
  color:#FFFFFF;
}
#u7537 {
  position:absolute;
  left:2px;
  top:16px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7538 {
  position:absolute;
  left:93px;
  top:47px;
  width:41px;
  height:30px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7539 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7533_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:77px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7533_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7540 {
  position:absolute;
  left:37px;
  top:13px;
  width:100px;
  height:46px;
  font-size:20px;
  color:#FF0000;
}
#u7541 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u7542 {
  position:absolute;
  left:1452px;
  top:716px;
}
#u7542_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background-image:none;
}
#u7542_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u7543 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u7544 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u7542_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  visibility:hidden;
  background-image:none;
}
#u7542_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u7545 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u7546 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u7547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7547 {
  position:absolute;
  left:1492px;
  top:710px;
  width:17px;
  height:17px;
}
#u7548 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u7549 {
  position:absolute;
  left:1168px;
  top:712px;
  width:100px;
  height:46px;
  font-size:20px;
  color:#FF0000;
}
#u7550 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u7551_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1339px;
  height:9px;
}
#u7551 {
  position:absolute;
  left:201px;
  top:773px;
  width:1334px;
  height:4px;
}
#u7552 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
