body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1334px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:1334px;
  height:750px;
}
#u12666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12667 {
  position:absolute;
  left:0px;
  top:1px;
}
#u12667_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background-image:none;
}
#u12667_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12667_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  visibility:hidden;
  background-image:none;
}
#u12667_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:301px;
}
#u12672 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:448px;
  width:537px;
  height:301px;
}
#u12673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12667_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  visibility:hidden;
  background-image:none;
}
#u12667_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:1121px;
}
#u12676 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:-186px;
  width:748px;
  height:1121px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u12677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:552px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12667_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  visibility:hidden;
  background-image:none;
}
#u12667_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:749px;
}
#u12679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u12682 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:112px;
  width:185px;
  height:263px;
}
#u12683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u12684 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:112px;
  width:185px;
  height:263px;
}
#u12685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u12686 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:112px;
  width:185px;
  height:263px;
}
#u12687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:263px;
}
#u12688 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:112px;
  width:185px;
  height:263px;
}
#u12689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:2px;
}
#u12690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:1334px;
  height:1px;
}
#u12691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:35px;
}
#u12692 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:16px;
  width:71px;
  height:52px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:35px;
}
#u12693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:36px;
}
#u12694 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:24px;
  width:20px;
  height:36px;
}
#u12695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:1334px;
  height:43px;
}
#u12698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12701 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:18px;
  width:13px;
  height:13px;
}
#u12702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12703 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:18px;
  width:13px;
  height:13px;
}
#u12704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12705 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:18px;
  width:13px;
  height:13px;
}
#u12706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12707 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:18px;
  width:13px;
  height:13px;
}
#u12708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u12709 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:19px;
  width:11px;
  height:11px;
}
#u12710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:65px;
}
#u12711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:1334px;
  height:65px;
  opacity:0.3;
}
#u12712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:85px;
}
#u12713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:668px;
  width:1334px;
  height:85px;
  opacity:0.3;
}
#u12714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12715 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:58px;
  width:40px;
  height:40px;
}
#u12716 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12717 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:11px;
  width:93px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u12719 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:16px;
  width:24px;
  height:17px;
}
#u12720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12721 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:11px;
  width:59px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12724 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:11px;
  width:47px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#FFFFFF;
}
#u12725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u12726 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:14px;
  width:48px;
  height:21px;
  color:#000000;
}
#u12727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12728_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:411px;
  height:9px;
}
#u12728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:406px;
  height:4px;
  color:#FF0000;
}
#u12729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12730 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:56px;
  width:253px;
  height:43px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u12732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12732 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:692px;
  width:76px;
  height:38px;
  opacity:0.9;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u12734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u12735 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:683px;
  width:56px;
  height:56px;
}
#u12736 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:45px;
}
#u12737 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:689px;
  width:29px;
  height:45px;
}
#u12738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u12739 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:691px;
  width:100px;
  height:41px;
  opacity:0.6;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u12741 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:671px;
  width:137px;
  height:77px;
  overflow:hidden;
}
#u12741_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:77px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12741_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:47px;
}
#u12744 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:0px;
  width:43px;
  height:47px;
  opacity:0.7;
  color:#FFFFFF;
}
#u12745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12746 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:47px;
  width:41px;
  height:30px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u12741_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:77px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12741_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12748 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:13px;
  width:100px;
  height:46px;
  font-size:20px;
  color:#FF0000;
}
#u12749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u12750 {
  position:absolute;
  left:1251px;
  top:692px;
}
#u12750_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background-image:none;
}
#u12750_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12750_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  visibility:hidden;
  background-image:none;
}
#u12750_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:38px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u12754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u12755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12755 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:686px;
  width:17px;
  height:17px;
}
#u12756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u12757 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:688px;
  width:100px;
  height:46px;
  font-size:20px;
  color:#FF0000;
}
#u12758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u12759_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1339px;
  height:9px;
}
#u12759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:749px;
  width:1334px;
  height:4px;
}
#u12760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
