<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.common.mapper.TbCwkstudentMapper">
  <resultMap id="BaseResultMap" type="com.kevin.common.model.TbCwkstudent">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cwkid" jdbcType="INTEGER" property="cwkid" />
    <result column="piano_grade" jdbcType="TINYINT" property="pianoGrade" />
    <result column="average_score" jdbcType="REAL" property="averageScore" />
  </resultMap>
</mapper>