<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.common.mapper.TbCwkbindsnMapper">
  <resultMap id="BaseResultMap" type="com.kevin.common.model.TbCwkbindsn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CWKId" jdbcType="INTEGER" property="cwkid" />
    <result column="SN" jdbcType="VARCHAR" property="sn" />
    <result column="time" jdbcType="DATE" property="time" />
  </resultMap>
</mapper>