<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.common.mapper.TbCwknewsMapper">
  <resultMap id="BaseResultMap" type="com.kevin.common.model.TbCwknews">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="contents" jdbcType="VARCHAR" property="contents" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="CWKID" jdbcType="INTEGER" property="cwkid" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="viewcount" jdbcType="INTEGER" property="viewcount" />
    <result column="usertype" jdbcType="VARCHAR" property="usertype" />
    <result column="newstype" jdbcType="INTEGER" property="newstype" />
    <result column="praise" jdbcType="INTEGER" property="praise" />
    <result column="collection" jdbcType="INTEGER" property="collection" />
  </resultMap>
</mapper>