<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.common.mapper.TbCwkmessageMapper">
  <resultMap id="BaseResultMap" type="com.kevin.common.model.TbCwkmessage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="messagetype" jdbcType="VARCHAR" property="messagetype" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="imgpath" jdbcType="VARCHAR" property="imgpath" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="addtime" jdbcType="DATE" property="addtime" />
    <result column="CWKID" jdbcType="INTEGER" property="cwkid" />
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>
</mapper>