<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.common.mapper.TbGamenotebattleMapper">
  <resultMap id="BaseResultMap" type="com.kevin.common.model.TbGamenotebattle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CWKID" jdbcType="INTEGER" property="cwkid" />
    <result column="songId" jdbcType="INTEGER" property="songid" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="addtime" jdbcType="TIME" property="addtime" />
  </resultMap>
</mapper>