<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.common.mapper.TbLivevisitorMapper">
  <resultMap id="BaseResultMap" type="com.kevin.common.model.TbLivevisitor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="loginTimestamp" jdbcType="TIMESTAMP" property="logintimestamp" />
  </resultMap>
</mapper>