<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.common.mapper.TbLogMapper">
  <resultMap id="BaseResultMap" type="com.kevin.common.model.TbLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SerialNumber" jdbcType="VARCHAR" property="serialnumber" />
    <result column="VersionNo" jdbcType="VARCHAR" property="versionno" />
    <result column="VersionPlatfrom" jdbcType="VARCHAR" property="versionplatfrom" />
    <result column="Time" jdbcType="TIMESTAMP" property="time" />
    <result column="LogPath" jdbcType="VARCHAR" property="logpath" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
</mapper>