<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>个人信息修改</title>
<link href="/css/index.css" rel="stylesheet">
<link href="/css/add.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
	$(function() {
		$("#back").click(function() {
			window.history.back();
		})
	})
</script>
</head>

<body style="background-color: #eee;">
	<div class="public_top">
		<div class="public_back">
			<img id="back" src="/images/back_c.png">
		</div>
		<div class="select_name">个人设置</div>
		<div class="select-icon"></div>
	</div>
	<div class="pe_setting" style="height: 80px; line-height: 80px;">
		<a href="#"> <span style="margin-left: 20px;">头像</span> <span
			class="pe_mixture"> <img src="/images/setepic.png">
		</span> a> 
	</div>
	<div class="pe_setting">
		<a href="personal_info.html"> <span style="margin-left: 20px;">用户名设置</span>
			<span class="pe_mixture">Jason</span>
		</a>
	</div>
	<div class="pe_setting">
		<a href="#"> <span style="margin-left: 20px;">真实姓名</span> <span
			class="pe_mixture">钱星</span>
		</a>
	</div>
	<div class="pe_setting">
		<a href="#"> <span style="margin-left: 20px;">所在地区</span> <span
			class="pe_mixture">安徽合肥</span>
		</a>
	</div>
	<div class="pe_setting">
		<a href="#"> <span style="margin-left: 20px;">性别</span> <span
			class="pe_mixture">男</span>
		</a>
	</div>
	<div class="pe_setting">
		<a href="#"> <span style="margin-left: 20px;">生日</span> <span
			class="pe_mixture">1990-01-10</span>
		</a>
	</div>
	<div class="pe_setting">
		<a href="#"> <span style="margin-left: 20px;">钢琴级别</span> <span
			class="pe_mixture">5级</span>
		</a>
	</div>
</body>
</html>