<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.klsw.common.live.mapper.TbLivevisitorMapper" >
  <resultMap id="BaseResultMap" type="com.klsw.common.live.model.TbLivevisitor" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="loginTimestamp" property="logintimestamp" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>