<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.klsw.common.live.mapper.TbLivefollowMapper">
    <resultMap id="BaseResultMap" type="com.klsw.common.live.model.TbLivefollow">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="userId" jdbcType="INTEGER" property="userid"/>
        <result column="FollowID" jdbcType="INTEGER" property="followid"/>
        <result column="ctime" jdbcType="DATE" property="ctime"/>
    </resultMap>
    <select id="selectFollows" parameterType="java.lang.Object" resultType="java.util.Map">
        SELECT
            id,
            nickname,
            avatar,
            details
        FROM tb_LiveUser
        WHERE id IN (SELECT FollowID
                     FROM tb_LiveFollow
                     WHERE
                         userId = #{0}) AND type = #{1}
    </select>
    <select id="selectFans" parameterType="java.lang.Object" resultType="java.util.Map">
        SELECT
            id,
            nickname,
            avatar,
            details
        FROM tb_LiveUser
        WHERE id IN (SELECT userId
                     FROM tb_LiveFollow
                     WHERE
                         FollowID = #{0}) AND type = #{1}
    </select>
</mapper>