<?xml version="1.0" ?>
<configuration>
    <!--title>浦东规土局地理信息系统</title-->
     <title>assets/images/logoImage.png</title>
    <subtitle></subtitle>
    <logo>assets/images/logo.png</logo>
    <!--stylecolors>0x000000,0xFFFFFF,0x68c6fd,0x1FA5FB,0x4B8CE8</stylecolors-->
     <stylecolors>0xFEFFFF,0x6FB2CD,0x68c6fd,0x1FA5FB,0xFFD500,0xFFFFFF</stylecolors>
    <!--0xCEE7F4,0x39628C,0x355D89,0x294867,0xCEE7F4<stylecolors>0xFFFFFF,0x333333,0x101010,0x000000,0xFFD700</stylecolors> -->
    <!-- textColor, backgroundColor, rolloverColor, selectionColor, titleColor, applicationBackgroundColor-->
    <stylealpha>0.6</stylealpha>
    <!-- UI elements -->
    <widget left="0"  top="0"    config="widgets/HeaderController/HeaderControllerWidget.xml" url="widgets/HeaderController/HeaderControllerWidget.swf"/>
    <widget left="80" top="90"   config="widgets/MapSwitcher/MapSwitcherWidget.xml" url="widgets/MapSwitcher/MapSwitcherWidget.swf" />
    <widget right="-2" bottom="-2" config="widgets/OverviewMap/OverviewMapWidget.xml" url="widgets/OverviewMap/OverviewMapWidget.swf"/>
    <widget left="300"   bottom="3"  config="widgets/Coordinate/CoordinateWidget.xml" url="widgets/Coordinate/CoordinateWidget.swf"/>
	<widget left="10"  top="75"  config="widgets/Navigation/NavigationWidget.xml" url="widgets/Navigation/NavigationWidget.swf"/>
	<widget left="130" top="90"   config="widgets/Legend/LegendWidget.xml" url="widgets/Legend/LegendWidget.swf"  />
	<widget left="0"  top="0"    config="widgets/Interface/QueryExtentWidget.xml" url="widgets/Interface/QueryExtentWidget.swf"/>
	<widget left="80" top="150"   config="widgets/Header/HeaderController.xml" url="widgets/Header/HeaderController.swf"/>
	<map  initialextent="2129.878 -4972.345 12662.432 3358.872" fullextent="-11653 -78145 67802 23170" scaleBarVisible="true">
		<basemaps>
			<layer label="矢量图层" type="tiled" useproxy="true" visible="true" alpha="0.9" icon="assets/images/icons/i_lego.png" url="http://10.1.64.137:8399/arcgis/rest/services/PDGT_TILEMAP2012/MapServer"/>
			<layer label="影像图层" type="tiled" useproxy="true" visible="false" alpha="0.9" icon="assets/images/icons/i_lego.png" url="http://10.1.64.137:8399/arcgis/rest/services/PDGT_RSMAP2012/MapServer"/>
			<layer label="地形图" type="tiled" useproxy="true" visible="false" alpha="0.6" icon="assets/images/icons/i_lego.png" url="http://10.1.64.137:8399/arcgis/rest/services/PDGT_DXT/MapServer"/>
			<!-- 信息中心
			<layer label="矢量图层" type="tiled" useproxy="true" visible="true" alpha="0.9" icon="assets/images/icons/i_lego.png" url="http://172.24.159.48:8399/arcgis/rest/services/PDGT_TILEMAP2012/MapServer"/>
			<layer label="影像图层" type="tiled" useproxy="true" visible="false" alpha="0.9" icon="assets/images/icons/i_lego.png" url="http://172.24.159.48:8399/arcgis/rest/services/PDGT_RSMAP2012/MapServer"/>
			-->
		</basemaps>
		<operationallayers>
		<!-- 信息中心
			<layer label="专业图层" type="dynamic" useproxy="true" visible="false" alpha="1" icon="assets/images/icons/i_highway.png" url="http://172.24.159.48:8399/arcgis/rest/services/dynamic_pdgt2012/MapServer" />
		-->
			<layer label="专业图层" type="dynamic" useproxy="true" visible="false" alpha="1" icon="assets/images/icons/i_highway.png" url="http://10.1.64.137:8399/arcgis/rest/services/dynamic_pdgt2012/MapServer" />
		</operationallayers>
	</map>
    <!-- widgets organized into widget containers that manage close/open etc -->
    <!-- supported layout property options: horizontal(default)|float|vertical|fix-->
    
    <widgetcontainer layout="vertical" top="80">
    <widgetgroup permission="A" label="基础工具" icon="assets/images/newimage/nav_jcgj.png" 
    							labelIcon="assets/images/newimage/nav_jcgj_l.png" 
    							overlabelIcon="assets/images/newimage/nav_jcgj_r.png">
	   <widget permission="Aa" label="地图书签" left="450" top="50"
                icon="assets/images/icons/dtsq.png"
                config="widgets/Bookmark/BookmarkWidget.xml"
                url="widgets/Bookmark/BookmarkWidget.swf"/>	
       <widget permission="Ab" label="地图测量" left="100" top="50" 
	            icon="assets/images/icons/dtcl.png"
	            config="widgets/Measure/MeasureWidget.xml"
	            url="widgets/Measure/MeasureWidget.swf"/>
	  <widget permission="Ac" label="动态标绘" left="60" top="400"
			   icon="assets/images/icons/dtbh.png"
               config="widgets/MapMarker/MapMarkerWidget.xml"
               url="widgets/MapMarker/MapMarkerWidget.swf"/>
	  <widget permission="Ad" label="图层控制" left="60" top="400"
			   icon="assets/images/icons/tckz.png"
               config="widgets/LayerOperation/LayerOperationWidget.xml"
               url="widgets/LayerOperation/LayerOperationWidget.swf"/>
	   <widget permission="Aj" label="地 形 图" left="60" top="400"
			   icon="assets/images/icons/i_dxt.png"
               config="widgets/DXTOperation/DXTOperationWidget.xml"
               url="widgets/DXTOperation/DXTOperationWidget.swf"/>
      <widget permission="Ae"  label="周边查询" left="360" top="90"
			icon="assets/images/icons/zbcx.png" 
			config="widgets/Query/QueryWidget.xml"
			url="widgets/Query/QueryWidget.swf" />
	    <widget permission="Af" label="态势分析" left="360" top="90" 
	    		icon="assets/images/icons/tsfx.png"
                config="widgets/DecisionSupport/DecisionSupportWidget.xml" 
                url="widgets/DecisionSupport/DecisionSupportWidget.swf"/>
		<widget permission="Ag" label="滤    镜" 
				icon="assets/images/icons/yxlj.png"
				config="widgets/Swipe/SwipeWidget.xml"
			 	url="widgets/Swipe/SwipeWidget.swf" />
		<widget permission="Ah" label="地图保存" left="620" top="50"
	            icon="assets/images/icons/bcdt.png"
	            config="widgets/Snapshot/SnapshotWidget.xml"
	            url="widgets/Snapshot/SnapshotWidget.swf"/> 	 	
		<widget permission="Ai" label="地图打印" left="620" top="50"
	            icon="assets/images/icons/dydt.png"
	            config="widgets/Print/PrintWidget.xml"
	            url="widgets/Print/PrintWidget.swf"/> 
	   	</widgetgroup>
	   <widgetgroup permission="B" label="地图定位" 
				    icon="assets/images/newimage/nav_dtdw.png" 
				    labelIcon="assets/images/newimage/nav_dtdw_l.png" 
				    overlabelIcon="assets/images/newimage/nav_dtdw_r.png">
		<widget permission="Ba" label="街道定位" 
	 		  icon="assets/images/icons/roadlocate.png"
			  config="widgets/Locate/TownLocateWidget.xml" url="widgets/Locate/TownLocateWidget.swf" />
		<widget permission="Bb"  label="路口定位" 
	 		  icon="assets/images/icons/crosslocate.png"
			  config="widgets/Locate/CrossRoadLocateWidget.xml" url="widgets/Locate/CrossRoadLocateWidget.swf" />
		<widget permission="Bc"  label="图幅定位" 
	 		  icon="assets/images/icons/sheetLocate.png"
			  config="widgets/Locate/SheetLocateWidget.xml" url="widgets/Locate/SheetLocateWidget.swf" />
	</widgetgroup>
	<widgetgroup permission="C" label="规划查询" 
				icon="assets/images/newimage/nav_ghcx.png" 
				labelIcon="assets/images/newimage/nav_ghcx_l.png"
				overlabelIcon="assets/images/newimage/nav_ghcx_r.png">
		 <widget permission="Ca"  label="详细规划" left="360" top="120"
					icon="assets/images/icons/xxgh.png" config="widgets/Query/QueryXXGHWidget.xml"
					url="widgets/Query/QueryXXGHWidget.swf"/>
		 <widget permission="Cb"  label="单元规划" left="360" top="120"
					icon="assets/images/icons/dygh.png" config="widgets/Query/QueryDYGHWidget.xml"
					url="widgets/Query/QueryDYGHWidget.swf" />
		<widget permission="Cc"  label="分区规划" left="360" top="120"
					icon="assets/images/icons/fqgh.png" config="widgets/Query/QueryFQGHWidget.xml"
					url="widgets/Query/QueryFQGHWidget.swf" />
		<widget permission="Ce"  label="专项规划" left="360" top="120"
					icon="assets/images/icons/zxgh.png" config="widgets/Query/QueryZXGHWidget.xml"
					url="widgets/Query/QueryZXGHWidget.swf" />
		<widget permission="Cd"  label="总体规划" left="360" top="120"
				icon="assets/images/icons/ztgh.png" config="widgets/Query/QueryZTGHWidget.xml"
				url="widgets/Query/QueryZTGHWidget.swf" />
	</widgetgroup>
	 <widgetgroup  permission="D" label="工程查询" 
				 icon="assets/images/newimage/nav_gccx.png" 
				 labelIcon="assets/images/newimage/nav_gccx_l.png" 
				 overlabelIcon="assets/images/newimage/nav_gccx_r.png">
		 <widget permission="Da"  label="选址意见" left="360" top="120"
				icon="assets/images/icons/xzyj.png" config="widgets/QueryProject/QueryXZFWWidget.xml"
				url="widgets/QueryProject/QueryXZFWWidget.swf" />
		 <widget permission="Db"  label="用地许可" left="360" top="120"
				icon="assets/images/icons/ydxk.png" config="widgets/QueryProject/QueryYDFWWidget.xml"
				url="widgets/QueryProject/QueryYDFWWidget.swf" />
		<widget permission="Dc"  label="工程许可" left="360" top="120"
				icon="assets/images/icons/gcxk.png" config="widgets/QueryProject/QueryGCFWWidget.xml"
				url="widgets/QueryProject/QueryGCFWWidget.swf" />
	</widgetgroup>
	 <widgetgroup permission="E" label="土地查询" 
				 icon="assets/images/newimage/nav_ydcx.png" 
				 labelIcon="assets/images/newimage/nav_ydcx_l.png" 
				 overlabelIcon="assets/images/newimage/nav_ydcx_r.png">
		 <widget permission="Ea"   label="权属信息" left="360" top="120"
					icon="assets/images/icons/qszd.png" config="widgets/QueryProject/QueryQSZDWidget.xml"
					url="widgets/QueryProject/QueryQSZDWidget.swf" />
		 <widget permission="Eb"  label="违法用地" left="360" top="120"
					icon="assets/images/icons/wfyd.png" config="widgets/QueryProject/QueryWFYDWidget.xml"
					url="widgets/QueryProject/QueryWFYDWidget.swf" />
		<widget permission="Ec"  label="测绘成果" left="360" top="120"
					icon="assets/images/icons/chcg.png" config="widgets/QueryProject/QueryCHCGWidget.xml"
					url="widgets/QueryProject/QueryCHCGWidget.swf" />
	    <widget permission="Ed"  label="储备计划" left="360" top="120"
		            icon="assets/images/icons/cbjh.png" config="widgets/QueryProject/QueryJHFWWidget.xml"
		             url="widgets/QueryProject/QueryJHFWWidget.swf" />
		<widget permission="Ef"  label="储备项目" left="360" top="120"
		            icon="assets/images/icons/cbxm.png" config="widgets/QueryProject/QueryXMFWWidget.xml"
		             url="widgets/QueryProject/QueryXMFWWidget.swf" />
		<widget permission="Eh"  label="储备出让" left="360" top="120"
		            icon="assets/images/icons/crdk.png" config="widgets/QueryProject/QueryCRFWWidget.xml"
		             url="widgets/QueryProject/QueryCRFWWidget.swf" />
		<widget permission="Eg"  label="出让合同" left="360" top="120"
		            icon="assets/images/icons/htjg.png" config="widgets/QueryProject/QueryHTJGWidget.xml"
		             url="widgets/QueryProject/QueryHTJGWidget.swf" />
		<widget permission="Ei"  label="基地图层" left="360" top="120"
		            icon="assets/images/icons/jdtc.png" config="widgets/QueryProject/QueryJDTCWidget.xml"
		             url="widgets/QueryProject/QueryJDTCWidget.swf" />
		<widget permission="Ej"  label="小区图层" left="360" top="120"
		            icon="assets/images/icons/xqtc.png" config="widgets/QueryProject/QueryXQTCWidget.xml"
		             url="widgets/QueryProject/QueryXQTCWidget.swf" />
	</widgetgroup>
	<widgetgroup permission="F" label="统计分析" 
				 icon="assets/images/newimage/nav_ghtj.png" 
				 labelIcon="assets/images/newimage/nav_xgtj_l.png" 
				 overlabelIcon="assets/images/newimage/nav_xgtj_r.png">	
				<widget permission="Fa" wid="006" label="详规街镇统计" 
				icon="assets/images/icons/jztj.png"
				config="widgets/Thematic/XGTownThematicWidget.xml"
			 	url="widgets/Thematic/XGTownThematicWidget.swf" />
			 	<widget permission="Fb" wid="006" label="详规全区统计" 
				icon="assets/images/icons/qqtj.png"
				config="widgets/Thematic/XGAreaThematicWidget.xml"
			 	url="widgets/Thematic/XGAreaThematicWidget.swf" />
			 	<widget permission="Fc" wid="006" label="出让合同统计" 
				icon="assets/images/icons/htjgtj.png"
				config="widgets/Thematic/XTJGTJThematicWidget.xml"
			 	url="widgets/Thematic/XTJGTJThematicWidget.swf" />
	</widgetgroup>
	<widgetgroup permission="G" label="综合检索" 
				icon="assets/images/newimage/nav_zhjs.png" 
				labelIcon="assets/images/newimage/nav_zhjs_l.png"
				overlabelIcon="assets/images/newimage/nav_zhjs_r.png">
				<widget permission="Ga" wid="006" label="通用查询" 
				icon="assets/images/icons/tycx.png"
				config="widgets/CommenQuery/CommenQueryWidget.xml"
			 	url="widgets/CommenQuery/CommenQueryWidget.swf" />
			 	<widget permission="Gb" wid="006" label="点查操作" 
				icon="assets/images/icons/dc.png"
				config="widgets/PointQuery/PointQueryWidget.xml"
			 	url="widgets/PointQuery/PointQueryWidget.swf" />
	</widgetgroup>
    </widgetcontainer>
    <appconfig>
    	<projectconfing>
    	<!--863链接-->
    	<urlroot>http://10.1.8.71:8082</urlroot>
    	<!--  信息中心
    	<urlroot>http://172.24.159.31:8001</urlroot>
    	-->
    	</projectconfing>
    	<gisconfig>
    	    <!--  信息中心
    		<servletRoot>http://172.24.159.48:8080</servletRoot>
    		<mapserverroot>http://172.24.159.48:8399/</mapserverroot>
    		-->
    		<!-- 863链接-->
    		<servletRoot>http://10.1.21.31:8989</servletRoot>
    		<mapserverroot>http://10.1.64.137:8399/</mapserverroot>
    		<geometryurl>arcgis/rest/services/Geometry/GeometryServer</geometryurl>
    	</gisconfig>
    </appconfig>
</configuration>