<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>资料库</title>
<link rel="stylesheet" href="/css/database.css" />
<link rel="stylesheet" href="/css/opern.css" />
</head>

<body>
<div class="header">
	 <div class="logo"><span>克洛斯威资料库后台管理</span></div>
     
				<div class="header-right">
                <i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">退出</a> 
				</div>
                <div class="top_admin">欢迎<span>暖阳</span>！</div>

</div>
<!-- 顶部 -->              
<div id="middle">
<div class="left">
<div class="sdmenu">
<div>
		<a href="/database/templetList" >模板</a>
	</div>
	<div>
		<a href="/database/subjectList">分类</a>
	</div>
	  
	<div>
		<a href="/database/sonSubjectList">子分类</a>
	</div>
    <div>
		<a href="/database/bookList">书</a>
	</div>
	<div>
		<a href="/database/pressList">出版社</a>
	</div> 
    <div>
		<a href="/database/opernList">曲谱</a>
	</div> 
 
</div>

     </div>

     <div class="right"  id="mainFrame">
     
     <div class="right_cont">
 		
 
   
    </div>
 </div>
 </div>  
</body>
</html>
