<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.klsw.apiCommon.api.mapper.TbCwkbeanMapper" >
  <resultMap id="BaseResultMap" type="com.klsw.apiCommon.api.model.TbCwkbean" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CWKID" property="cwkid" jdbcType="INTEGER" />
    <result column="changeType" property="changetype" jdbcType="INTEGER" />
    <result column="changeNumber" property="changenumber" jdbcType="INTEGER" />
    <result column="addTime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="describtion" property="describtion" jdbcType="VARCHAR" />
    <result column="remain_bean" property="remainBean" jdbcType="INTEGER"/>
  </resultMap>
  
  <select id="selectByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	SELECT * FROM tb_CWKBean WHERE (#{0} = 2 OR changeType = #{0}) AND CWKID = #{1}  ORDER BY addtime
  </select>
</mapper>