/*È«¾Ö*/
body {
	margin:0;
	padding:0;
	font-size:14px;
	font-weight:bold;
	color:#333;
	font-family:"ËÎÌå",Arial, Helvetica, sans-serif;
	background:#f2f7fd url(../images/login_bg_x.gif) repeat-x top;
	}
a:link,a:visited {
	font-size:12px;
	color:#333;
	text-decoration:none;
	}
a:hover {
	color:#FF0000;
	text-decoration:underline;
	}
.login_bg {
	height:610px;
	background:url(../images/login_bg.jpg) no-repeat;
	}
.login_input {
	border:1px solid #878787;
	height:29px;
	padding:2px 5px 0 5px;
	width:220px;
	vertical-align:middle;
	}
.login_button {
	background:url(../images/login_button.jpg) no-repeat;
	width:102px;
	height:35px;
	cursor:pointer;
	border:none;
	vertical-align:middle;
	}