<style>
.mxList{
	border-right: solid 1px #dddddd;
	border-bottom: solid 1px #dddddd;
}
.mxList tr td{
	border-top: solid 1px #dddddd;
	border-left: solid 1px #dddddd;
	line-height: 30px;
}
</style>
<table border="0" width="90%" cellpadding="0" cellspacing="0" class="mxList">
		<tr class="firstRow">
		   <center>
			  <h1>$!title通知</h1> 
		   </center>
		</tr>
		<tr><h3>会议要素</h3></tr>
		<tr>
			<ul >
				<li><b>
				    时间: $!date
				</b></li>
				<li><b>
				   地点: $!address
				</b></li>
				<li><b>
				   人员: $!team
				</b></li>
			</ul>
		</tr>
		<tr><h3>会议要素</h3></tr>
		<tr>
		    $!topic summary
		</tr> 
		<tr><h3>会议纪要</h3></tr>
		<tr>
		    $!summary
		</tr>
		
	</table>
	    <center>
		    <tr>
			    欢迎访问<a href="http://10.1.8.72:25252/">Dream团队</a>首页
			</tr>
		</center>
	