<h2 >TeamPlay本周提醒</h2> 

<h3>1. 本周未完成任务（#if($planInfo)$!planInfo.size()#else 0 #end）</h3>
#foreach ($plan in $planInfo)
<p>&nbsp;&nbsp;<a href='http://10.1.8.72:25252/main/planView/$!plan.jobId' target='_blank' onFocus='this.blur();'>$!plan.jobDesc</a></p>
#end

<h3>2. 本周未审批任务（#if($spPlanInfo)$!spPlanInfo.size()#else 0 #end）</h3>
#foreach ($plan in $spPlanInfo)
<p>&nbsp;&nbsp;<a href='http://10.1.8.72:25252/main/planView/$!plan.jobId' target='_blank' onFocus='this.blur();'>$!plan.jobDesc</a></p>
#end

<h3>3. 沉淀积累（#if($accumulationInfo)$!accumulationInfo.size()#else 0 #end）</h3>
#foreach ($acc in $accumulationInfo)
<p>&nbsp;&nbsp;<a href='http://10.1.8.72:25252/accumu/view/$!acc.id' target='_blank' onFocus='this.blur();'>$!acc.title</a></p>
#end

<h3>4. 项目总结（#if($workInfo)$!workInfo.size()#else 0 #end）</h3>
#foreach ($work in $workInfo)
<p>&nbsp;&nbsp;<a href='http://10.1.8.72:25252/work/workView/$!work.workId' target='_blank' onFocus='this.blur();'>$!work.proName</a></p>
#end

<pre>欢迎访问<a href="http://10.1.8.72:25252/">Dream团队</a>首页</pre>
	    

		
		
	