<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>威客</title>
<link href="css/index.css" rel="stylesheet">
<link href="css/add.css" rel="stylesheet">
<style>
 .gender {
    width: 100%;  float:left;  background-color:#FFF;  border-bottom:1px solid #dcdcdc;
}
.gender .we_text {width: auto; float:left; font-size: 14px; color:#535353; line-height:35px;padding:8px 0 8px 14px;}
.gender_select {width: auto; float:right; margin:8px 20px 4px 0px; }

       
.gender_select span{ display:inline-block !important; padding:5px 0px 0px 20px !important;}
.gender_select input[type="radio"] {
  margin: 3px 3px 0px 0px; padding-left:20px;
  display: none;
}
.gender_select label {
  padding-left: 25px;
  cursor: pointer; height:30px !important; display:inline-block;
}
.gender_select label.checked {
  background-position: left center; background:url(images/gender_se.png) left top no-repeat;
}            
</style>
</head>

<body>
  <div class="public_top">
      <div class="public_back"><a href="#"><img src="images/back_c.png"></a></div>
      <div class="select_name">威豆收支明细</div>
      <div class="select-icon"></div>
  </div>  

         <div class="payment_view" style="position:relative;">
                   <a href="#"><span class="payment_fold">收支筛选查看</span></a>

             </div>
                <div class="expense_tra"></div>   
                          <div class="filt-screen">
                                  <div class="gender">
			                          <div class="we_text">全部</div>
                                      <div class="gender_select">            
                                      <span>
                                       <input type="radio" id="" checked="checked" name="" value="">
                                       <label name="" class="checked" for=""></label>   
                                       </span>    
                                       </div>
                                  </div>
                                  <div class="gender">
			                          <div class="we_text">收入</div>
                                      <div class="gender_select">            
                                      <span>
                                       <input type="radio" id="" checked="checked" name="" value="">
                                       <label name=""  for=""></label>   
                                       </span>    
                                       </div>
                                  </div> 
                                  <div class="gender">
			                          <div class="we_text">支出</div>
                                      <div class="gender_select">            
                                      <span>
                                       <input type="radio" id="" checked="checked" name="" value="">
                                       <label name="" for=""></label>   
                                       </span>    
                                       </div>
                                  </div>                                                                    
                          </div>
     <div class="payment-menu">
          <ul>
         	<li style=" width:23.4%;">日期</li>
         	<li style=" width:19.3%;">支出/收入</li>
         	<li style=" width:18.6%;">威豆</li>
         	<li style=" width:19.3%;">备注</li>
         	<li style=" width:19.4%;">威豆余额</li>
          </ul>
     </div>
    
     <div class="payment-detail">
          <ul>
         	 <li>
               <span style=" width:23.4%; line-height:17px;">2016-11-23 11:00</span>
               <span style=" width:19.3%;">收入</span>
               <span style=" width:18.6%;">20</span>
               <span style=" width:19.3%;">每日签到</span>   
              <span style=" width:19.4%;">6935</span>
             </li>
         	 <li>
               <span style=" width:23.4%; line-height:17px;">2016-11-23 11:00</span>
               <span style=" width:19.3%;">收入</span>
               <span style=" width:18.6%;">20</span>
               <span style=" width:19.3%;">每日签到</span>   
              <span style=" width:19.4%;">6935</span>
             </li>
         	 <li>
               <span style=" width:23.4%; line-height:17px;">2016-11-23 11:00</span>
               <span style=" width:19.3%;">收入</span>
               <span style=" width:18.6%;">20</span>
               <span style=" width:19.3%;">每日签到</span>   
              <span style=" width:19.4%;">6935</span>
             </li>
         	 <li>
               <span style=" width:23.4%; line-height:17px;">2016-11-23 11:00</span>
               <span style=" width:19.3%;">收入</span>
               <span style=" width:18.6%;">20</span>
               <span style=" width:19.3%;">每日签到</span>   
              <span style=" width:19.4%;">6935</span>
             </li>             
             
             
          </ul>
     </div>          

     
     
</body>
</html>
