body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video {	margin:0; padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
html { font-size: 100%; }
body { font: 12px arial, Microsoft YaHei, Helvetica, STHeiti, Droid Sans Fallback; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-align:justify; text-justify:inter-ideograph; color:#333333; background-color: #fff; }
textarea { resize: none;}
iframe, img { border: 0;}
ul, ol { list-style: none;}
input, select, textarea { outline: 0;  border-radius: 0;}
a { text-decoration: none;}
body, html { width: 100%; position: relative;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:100%; -ms-text-size-adjust: 100%;}
img{ border:0 none; vertical-align:middle;}
input,select{vertical-align:middle;}
table { border-collapse:collapse; border-spacing: 0;}
address, caption, cite, code, dfn, th, var, optgroup ,em{font-style: inherit;font-weight: inherit;*font-style: normal;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
abbr, acronym {border: 0;font-variant: normal;}
textarea{ resize:none;}
input,textarea,a,button {outline:none;}
input::-moz-focus-inner {border:0;}
input{resize: none;}
a{ color:#333333; text-decoration:none;}
a:visited { color:#333333; }
a:active, a:focus{ color: #0278d2; text-decoration:underline; }
.fl { float:left; display:inline;}
.fr { float:right; display:inline;}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both;}
.clearfix { zoom:1;}
.clearit { clear:both; height:0; font-size:0; overflow:hidden;}



/**Ö§¸¶**/
.login_top{ background-color:#fff; height:45px; line-height:45px; border-bottom:1px solid #7d7d7d; text-align:center; font-size:16px;}
.blank_t{ background-color:#eee; height:17px; border-bottom:1px solid #a0a0a0; }

.login_bg{ width:100%; height:100%; position:relative; border-bottom:1px solid #a0a0a0;}
.login_bg img{width:100%; height:auto;}
.login_text{ width:100px; padding-right:20px; float:right; text-align:right;}
.login_text a{ color:#00a0e8;font-size:14px; line-height:20px;}
.flex-box{
	padding: 15px; border-bottom:1px solid #a0a0a0;background-color:#FFF; 
}
.flex-box i{  font-size:12px; font-style:normal; width:50px; color:#535353; display:inline-block; line-height:20px;}
.flex-box .inputa{
	line-height: 20px; border:0px; font-size:12px; padding-left:10px; vertical-align:middle;  color:#616161; margin-top:-2px;
}
.flex-box .inputw{width: 200px;}
.flex-box .inputb{width: 100px;}
.flex-box .buttona{
	line-height: 22px;  font-size:12px; padding:0 5px;   width:auto; color:#e70012; border:1px solid #e70012; background-color:#FFF; border-radius:6px; margin-left:10px;
}

.flex-box .checkboxa{ background: transparent;
    border: none;
    padding-left: 10px;
    width: 160px;
    color:#999; 
	 
}

.flex-box select{
    background:url(../images/ICON6.png) right center no-repeat;
    appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none; 
    border:none;
    padding-left:4px;
    width: 70px;
    height:100%; color:#616161; font-size:12px; line-height:20px; margin-top:-2px;
     
}
.submit_out{ background-color:#FFF;}
.submit_n{padding:0 15px; }
.formBtn{
	width: 100%;
	margin: 20px 0 20px 0;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px; 
	border-radius:6px;  line-height:40px; border:0px;
}
.btnf1{background-color:#bfbfbf; 
 
}
.btnf2{
 background-color:#eb6100; 
}

input[type=checkbox] {
	visibility: hidden;
}
.checkboxFive {
	width: 20px;
	position: relative; margin-top:3px; margin-left:2px;
}
.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
  	left: 0;
	border:2px solid #8a8a8a; border-radius:4px;
}
.checkboxFive label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
 
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/**
 * Create the hover event of the tick
 */
.checkboxFive label:hover::after {
	opacity: 0;
}
 
/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 0.6;
}

.re_btn{
	width: 100%;
	margin: 0 auto;
	color: #e70012;
	font-size: 14px; 
	  text-align:center; margin-bottom:20px; vertical-align:middle; margin-top:30px;
}
.re_btn a{ width:100px !important;
	color: #e70012; width:100%; display:inline-block; line-height:30px; text-decoration:none;border:1px solid #e70012;border-radius:6px; margin:0 auto;

}

.public_top{ background-color:#fff; height:30px; padding:10px 20px; position:relative; border-bottom:1px solid #7d7d7d;}
.public_back{ width:30%; float:left;  color:#FFF; margin-top:2px;}
.public_back a{ color:#fff; font-size:14px;}
.public_back img{ width:16px; height:100%;}
.select-icon {
    width: 30%; float:right; margin-top:10px; text-align:right;
}
.select-icon img{
    width: 27px; height:auto;
}
.select_name{ width:40%; line-height:30px; float:left; color:#535353; font-size:16px; position:relative; text-align:center; }
