/* all */
body { font: 12px 'microsoft yahei',tahoma,\5b8b\4f53; color:#333; background:#fff; }
*,img { margin:0; padding:0; border:0px; }
a { color: #333; text-decoration: none; }
.mainbody { padding: 5px 5px 0px 5px; }
#dd { padding: 10px 15px 10px 15px; }
#loading { display: none; width: 100px; top: 45%; left: 50%; position: absolute; z-index: 999999; }
/* textbox select */
.select { border-radius: 2px; padding: 2px 0px 2px 0px; border: 1px solid #ccc; font: 12px 'microsoft yahei',tahoma,\5b8b\4f53; }
.txtbox { border: solid 1px #ccc; background: #fff; border-radius: 2px; font: 12px 'microsoft yahei',tahoma,\5b8b\4f53; }
.txtbox1 { width: 140px; height: 25px; line-height: 25px; text-indent: 3px; }
.txtbox2 { width: 600px; height: 25px; line-height: 25px; text-indent: 3px; }
.txtbox3 { width: 594px; padding: 3px; height: 33px; resize: none; }
.txtbox4 { width: 40px; height: 25px; line-height: 25px; text-indent: 3px; }
.txtbox5 { width: 300px; height: 25px; line-height: 25px; text-indent: 3px; }
/* button */
.btn { color: #fff; display: inline-block; padding: 5px 15px; text-align: center; cursor: pointer; border: 1px solid transparent; background: #357ebd; border-color: #357ebd; text-shadow: 1px 1px rgba(0,0,0,.3); }
.btn:hover { background: #3276b1; border-color: #3276b1; }
.btnDisabled { color: #999; display: inline-block; padding: 5px 15px; text-align: center; cursor: not-allowed; border: 1px solid transparent; background: #eee; border-color: #ddd; }
/* table for boder */
.tableB { border-collapse:collapse; border-spacing:0; border:solid  #b8d0d6; border-width:1px 0px 0px 1px; width:100%; }
.tableB tr th { font-weight: bold; background: #f2f2f2; border: 1px solid #b8d0d6; padding: 8px 0px 8px 5px; text-align: left; }
.tableB tr td { border: solid #b8d0d6; border-right-width:1px; border-bottom-width:1px; border-top-width:0px; border-left-width:1px; padding: 8px 0px 8px 5px; text-align: left; }
.tableB tr td em { font-style: normal; color: #777; }
.tableB tr td input[type='checkbox'] { vertical-align: middle; margin-left: 10px; margin-right: 5px; }
/* tableN for no boder */
.tableN { border-collapse:collapse; border-spacing:0; border:0px; text-align:left; width:100%; }
.tableN tr th { background: #f2f2f2; padding: 8px 0px 8px 5px; font-weight: normal; text-align: left; }
.tableN tr td { padding: 8px 0px 8px 5px; text-align: left; }
.tableN tr td em { font-style: normal; color: #777; }