<chart caption='$!chartName' showPercentValues='1' showPercentInToolTip='0' palette='2' baseFont='ËÎÌו' baseFontSize='12'>#foreach( $ygroup in $yGroupsArray)#foreach( $chartData in $chartDataList)<set label='$!chartData.get($xGroup)' value='$!chartData.get($ygroup)' />#end#end
<styles>                
<definition> 
<style name='captionFont' type='font' size='18'/>
</definition>
<application>
<apply toObject='CAPTION' styles='captionFont' />
</application>
</styles>
</chart>