<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>威客</title>
<link href="/css/index.css" rel="stylesheet">
<link href="/css/add.css" rel="stylesheet">
<script type="application/javascript" src="/js/clickuser.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
	$(function(){
		$("#back").click(function(){
			window.history.back();
		})
	})
</script>
</head>

<body style="background-color:#eee;">
  <div class="public_top">
      <div class="public_back"><img id="back" src="/images/back_c.png"></div>
      <div class="select_name">关于我们</div>
      <div class="select-icon"></div>
  </div>  
<div class="product_profile">
       <span style=" margin:0px 20px; font-size:14px; color:#545454; display:block; line-height:30px;">产品简介</span>
        <span style=" margin:0px 20px; display:block; text-indent:2em;">
        威客空间是克洛斯威智能钢琴旗下的一个专注于智能音乐在线教学、社交活动、数据分享的平台，是一款辅助用户练琴和学习、考级等满足不同用户的学习需求、帮助用户快速提高钢琴技能和个人音乐素养的简单好用的APP，让你可以在手机上随时随地地进行钢琴学习。
  </span>
  </div>
  <div class="notify_blank"></div>
<div class="product_profile">
       <span style=" margin:0px 20px; font-size:14px; color:#545454; display:block; line-height:30px;">联系我们</span>
        <span style=" margin:0px 20px; display:block; text-indent:2em;">
        <p>公司官网：www.klsw.com</p>
        <p>公司电话：400-8080-218</p>
        <p>微信公众号：klswpiano</p>
        <p>官方微博：weibo.com/5870128604</p>        
        </span>
  </div>
    <div class="notify_blank"></div>
  <div class="product_profile" style=" text-align:center;">
        <span style=" display:inline-block;"><img src="/images/wechat_gong.png"><br>微信公众号</span>
        <span style=" display:inline-block; margin-left:15px;"><img src="/images/weibo_gong.png"><br>官方微博</span>        
  </div> 
  <div style=" float:left; text-align:center; width:100%; display:block; margin-top:40px; margin-bottom:20px;"> 克洛斯威智能钢琴版权所有</div>
</body>
</html>