<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>威客</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link href="/css/share.css" rel="stylesheet">
</head>
<body>
	<div th:include="common/head1"></div>
	<div class="contain_wrap" style="padding-top: 0px; margin-bottom: 0px;">
		<div class="contain_sub">
			<span class="title"><span style="margin-right: 3px;">（李东）</span>
				上传了<span style="margin-left: 5px;">老麦克唐纳</span></span> <span class="author">曲谱：约翰&#8226;汤普森简易钢琴教程1</span>
			<span class="author">上传时间：2016/7/4 17:06:28</span>
		</div>

	</div>
	<div class="te_wrap">
		<div class="te_sinus">
			<div class="te_yuanpc">
				<a href="otzone.html"><i class="mask"></i></a> <img
					src="/images/picture.jpg">
			</div>
			<div
				style="width: 78%; border-bottom: 1px solid #d9d9d9; float: left; margin-left: 10px; padding-right: 10px;">
				<div class="te_othuse">
					张老师<img src="/images/star_three.png"><span>动力火车钢琴教育培训机构</span>
				</div>
				<div class="gou_yuanpc">
					<img src="/images/suba.png">
				</div>
			</div>
		</div>
		<div class="te_sinus">
			<div class="te_yuanpc">
				<a href="otzone.html"> <i class="mask"></i>
				</a> <img src="/images/picture.jpg">
			</div>
			<div
				style="width: 78%; border-bottom: 1px solid #d9d9d9; float: left; margin-left: 10px; padding-right: 10px;">
				<div class="te_othuse">
					张老师<img src="/images/star_three.png"><span>动力火车钢琴教育培训机构</span>
				</div>
				<div class="gou_yuanpc">
					<img src="/images/suba.png">
				</div>
			</div>
		</div>
	</div>
	<div class="institute"></div>
	<div class="alert_content">
		<div class="alert_bg">
			<div class="ab_text">
				<a href="register.html"><img src="/images/close.png"></a>
			</div>
			<div class="alert_pic">
				<div class="alert_yuanpc">
					<a href="otzone.html"><i class="mask"></i></a> <img
						src="/images/picture.jpg">
				</div>
				<div class="alert_account">
					<span>张老师</span> <span style="display: block;">动力火车教育培训机构</span><img
						src="/images/star_three.png">
				</div>
			</div>
		</div>
		<div class="alert_info">
			<span>简介:</span>
			<p>安徽克洛斯威智能乐器科技有限公司正式成立于2014年，是中国科学技术大学先进技术研究院孵化企业。公司是一家专注于智能乐器研发、生产、销售以及构建互联网在线教育生态体系的创新型
				科技企业。 “让每个人都能享受科技的乐趣”
				是克洛斯威的公司愿景。公司秉承极致的工匠精神，运用互联网的先进技术与理念，致力于让全球每个人，都能享用来自中国的优质科技产品与服务。</p>
		</div>
		<div style="margin: 0 auto; text-align: center;">
			<button class="alertBtn" type="submit" style="outline: none;">提交</button>
		</div>
	</div>
</body>
</html>