<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>威客</title>
<link href="/css/login.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
	$(function() {
		var msg = $("#message").val();
		if (msg != null) {
			alert(msg);
		}
	})

	function submitForm() {
		var password = $("#password").val();
		var rePassword = $("#rePassword").val();
		if (password == "") {
			alert("密码不能为空");
			return false;
		}
		if (rePassword == "") {
			alert("确认密码不能为空");
			return false;
		}
		if (!/^[A-Za-z0-9_-]{6,12}$/.test($("#password").val())) {
			alert("密码格式有误");
			return false;
		}
		if ($("#password").val() != $("#rePassword").val()) {
			alert("两次输入密码不一致");
			return false;
		}
		return true;
	}
</script>
</head>

<body>
	<input id="message" type="hidden" th:value="${msg}" th:if="${msg}" />
	<div class="login_top">
		<img src="/images/regin_LOGO.png">
	</div>
	<div class="login_bg">
		<img src="/images/password.png">
		<div class="login_text">
			<a href="login.html">去登录</a>
		</div>
	</div>

	<form action="/modifyPwd" method="post" onsubmit="return submitForm();">
		<div class="submit_out">
			<div class="flex-box">
				<input id="phoneNum_hidden" name="phoneNum" type="hidden"
					th:value="${phoneNum}" /> <input id="phoneCaptcha_hidden"
					name="phoneCaptcha" type="hidden" th:value="${phoneCaptcha}" /> <i><img
					src="/images/ICON3.png"></i> <input type="password" id="password"
					name="password" placeholder="请输入新密码" class="inputa inputw" />
			</div>
			<div class="flex-box">
				<i><img src="/images/sure.png"></i> <input type="password"
					id="rePassword" name="rePassword" placeholder="请再次确认新密码"
					class="inputa inputw" />
			</div>

			<button class="formBtn" type="submit">完成</button>
		</div>
	</form>
</body>
</html>
