<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>威客</title>
<link href="/css/login1.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
	$(function(){
			var msg = $("#message").val();
			if(msg != null) {
				alert(msg);
			}
		
			function countDown($el) {
			    var i = 120;
			    $el.prop('disabled', true).val('重新发送('+ i + '秒)');
			    var interval = setInterval(function () {
			        i--;
			        $el.val('重新发送('+ i + '秒)');
			        if (i <= 0) {
			            clearInterval(interval);
			            interval = undefined;
			            $el.prop('disabled', false).val('发送验证码');
			        }
			    }, 1000);
			}
			
			$("#subphoneCaptcha").click(function(){
				var obj = $(this);  
				var phoneNum = $("#phoneNum").val();
				var rePassword=$("#rePassword").val();
				var password=$("#password").val();
			 	var reg = /^\s*$/g;
				if(reg.test(phoneNum)) {
		            	alert('请先填写手机号码');
		            	return false;
		           }
		          if(!(/^1[3|4|5|7|8]\d{9}$/.test(phoneNum))){ 
		            	alert("手机号码有误"); 
		                return false; 
		            } 
					if (reg.test(password)) {
						alert("密码不能为空");
						return false;
					}
					if (reg.test(rePassword)) {
						alert("确认密码不能为空");
						return false;
					}
					if (!/^[A-Za-z0-9_-]{6,12}$/.test(password)) {
						alert("密码格式有误");
						return false;
					}
					if (password != rePassword) {
						alert("两次输入密码不一致");
						return false;
					}
				$.ajax({
					url:"/verifyIdentity?phoneNum="+phoneNum,
					type:"GET",
					dataType:"JSON",
					success:function(data) {
						if(data.status == "S") {
							$.ajax({
								url:'/getPassword?phoneNum='+phoneNum,
								type:"GET",
								dataType:"JSON",
								success:function(data2){
									switch (data2.status) {
					    			case "S":
					    				countDown(obj);
					    				break;
					    			default:
					    				alert(data2.message);
					    			}
								},
								error:function(data2){
									alert("获取手机验证码失败")
								}
							});
						}  
					},
					error:function(data) {
						alert(data.status); 
					}
				});
			});
			 
		 $("#back").click(function() {
			 window.history.back();
		 }) 
			
	})
</script>
<script type="text/javascript">
	$(function(){
		$("#btnsub").removeClass("btnf2");   
	    $("#btnsub").addClass("btnf1");
	  
	  $("#ys").change(function(){
		 var phoneNum=$("#phoneNum").val(); 
		 var pwd=$("#password").val();
		 var pwd2=$("#password2").val();
		 var phoneCaptcha=$("#phoneCaptcha").val();
	   if(phoneNum=="" || pwd=="" || pwd2=="" || phoneCaptcha==""){
		  $("#btnsub").removeClass("btnf2");  
		  $("#btnsub").addClass("btnf1");
	   }else{
		   $("#btnsub").removeClass("btnf1");   
		   $("#btnsub").addClass("btnf2");  
	  }
	 });
	  
	$("#btnsub").click(function(){
		  if($("#btnsub").hasClass("btnf2")){ 
			 $("#submitForm").submit();
		  }  
	});
	})
</script> 
</head>

<body style="background-color:#eee;">
<input id="message" type="hidden" th:value="${msg}" th:if="${msg}" />
  <div class="public_top">
      <div class="public_back"><img id="back" src="/images/back_c.png"></div>
      <div class="select_name">找回密码</div>
      <div class="select-icon"></div>
  </div>  
<div class="blank_t"></div>

<form action="/modifyPwd" method="post" id="submitForm" >
<div class="submit_out" id="ys">  
 				<div class="flex-box">
				<i>手机号码</i>
				<input type="text" id="phoneNum" name="phoneNum" placeholder="请输入手机号码" class="inputa inputw" />
				</div>                                         
				<div class="flex-box">
				<i>新密码</i>
				<!-- <input id="phoneNum_hidden" name="phoneNum" type="hidden" th:value="${phoneNum}" /> 
				<input id="phoneCaptcha_hidden" name="phoneCaptcha" type="hidden" th:value="${phoneCaptcha}" /> -->
				<input type="password" id="password" name="password" placeholder="请输入新密码" class="inputa inputw" />
				</div>
				<div class="flex-box">
				<i>确认密码</i>
				<input type="password" id="rePassword" name="rePassword" placeholder="请确认新密码" class="inputa inputw" />
				</div>
				<div class="flex-box">
				<i>验证码</i>
				<input type="text" id="phoneCaptcha" name="phoneCaptcha" placeholder="请输入手机验证码" class="inputa inputb"/>
				<input type="button" id="subphoneCaptcha" class="buttona" value="获取验证码"/> 
				</div>                                                              
                </div>
                <div class="submit_n"> <button id="btnsub" class="formBtn btnf1" type="button">提交</button> </div>
               <!--  class="formBtn btnf2" -->
			</form>
  <div style=" float:left; text-align:center; width:100%; display:block; margin-top:40px; margin-bottom:20px; color:#959595; line-height:40px;">威客空间 克洛斯威智能钢琴版权所有</div>

</body>
</html>
