<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>威客</title>
<link href="/css/index.css" rel="stylesheet">
<link href="/css/add.css" rel="stylesheet">
<link href="/css/scrollbar.css" rel="stylesheet">
<style type="text/css">
.hm-menu li {
	border-left: 1px solid #e0e0e0;
	width: 24%;
	font-size: 12px;
	text-align: center;
	line-height: 25px;
	float: left;
}
</style>
<script type="application/javascript" src="/js/jquery.js"></script>
<style type="text/css" media="all">
#pullDown, #pullUp {
	background: #fff;
	height: 40px;
	line-height: 40px;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	font-size: 14px;
	color: #888;
}
</style>
<style type="text/css">
.mystyle {
	background: #000;
	opacity: 0.4;
}
</style>
</head>
<body>
	<div th:include="common/head2"></div>
	<br />
	<br />
	<br />
	<h1>
		&nbsp;&nbsp;&nbsp;&nbsp;<b>暂未开放，敬请期待......</b>
	</h1>
</body>
</html>