<!DOCTYPE HTML>
<html>
<head>
<title>威客空间</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link href="/css/shouji.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery.js"></script>
<script  type="text/javascript" > 
 $(function(){
	  $(".push").click(function(){
		    $(this).hide();
		  });
	 
 })
</script>
</head>

<body>
	<div class="contain_wrap">
    <div class="push"><img src="/images/tishi.png" class="pspic"></div>
   
	
 <div class="qupu"><img src="/images/piano.png"></div>     
	         <div class="contain_sub">
	           <div class="logo"><a href="http://wk-static.klsw.com/upload/version/android/klsw.apk#mp.weixin.qq.com"><img src="images/install.png" class="lgpic"></a></div>
	         </div>   
</div>
  <p style=" margin-top:10px;">安装步骤：</p>
 <p>1、请点击右上角“菜单”选择浏览器打开该页面；</p>
 <p style=" margin-bottom:20px;">2、点击“安装”按钮。</p> 
</body>
</html>