<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的服务单</title>
<link href="/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/css/center.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/css.css" />
<link href="/css/zzsc.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/js/jquery.js"></script>
</head>

<body>
	<div th:include="background/bg_common/bg_head"></div>
<!-- 顶部 -->              
<div id="middle">
     <div class="left">
<!-- 代码 开始 -->
<div th:include="background/bg_common/bg_nav"></div>
<!-- 代码 结束 -->
</div>

<div class="right">
<div class="myorder_top" style=" margin-bottom:35px;">售后服务单</div>

<table class="table table-bordered table-hover">
     <tbody>
       <tr align="center" style="background-color:#f1f1f1;">
         <th width="10%" height="31" nowrap="nowrap" style=" border-left:1px solid #ddd;">服务单编号</th>
         <th width="15%" nowrap="nowrap">订单号</th>           
         <th width="20%" nowrap="nowrap">售后商品</th>  
         <th width="15%" nowrap="nowrap">申请时间</th>                           
         <th width="10%" nowrap="nowrap">服务类型</th>
         <th width="20%" nowrap="nowrap">问题图片</th>
         <th width="10%" nowrap="nowrap">操作</th>            
         </tr>
       <tr align="center" th:each="tMallService: ${serviceList.list}" th:if="${serviceList}">
         <td nowrap="nowrap" th:text="${tMallService.id}">201600003</td>   
         <td nowrap="nowrap"><a href="#" style="color:#2180ae;"  th:text="${tMallService.orderserial}">0123456789</a></td>                
         <td nowrap="nowrap" style="padding:0px;">
                              <div class="order_menu" >
                              <ul>
                              <li>
                                <div class="order_text" style="text-align:center;margin-left:65px;"><a href="#" style="color:#2180ae;"><span th:text="${tMallService.productname}"></span><span style=" font-size:12px; display:block; line-height:20px;" th:text="${tMallService.productcolor}"></span></a></div>
                               </li>                                                                                            
                              </ul>
                              </div>
                              
         </td>
         <td nowrap="nowrap" th:text="${#dates.format(tMallService.applyTime, 'yyyy/MM/dd HH:mm:ss')}">2016-08-20</td>                  
         <td nowrap="nowrap"><span style="color:#eb3b46; line-height:35px;" th:text="${tMallService.servicetype}">维修</span></td>
         <td nowrap="nowrap"><img src="/images/producta.png" /></td>
         <td nowrap="nowrap"><a th:text="${tMallService.servicestatus}"></a></td>         
         </tr>   
   <!--     <tr align="center">
         <td nowrap="nowrap">201600003</td>   
         <td nowrap="nowrap"><a href="#" style="color:#2180ae;">0123456789</a></td>                
         <td nowrap="nowrap" style="padding:0px;">
                              <div class="order_menu">
                              <ul>
                              <li>
                                <div class="order_text"><a href="#" style="color:#2180ae;">克洛斯威智能钢琴（卧式款）<span style=" font-size:12px; display:block; line-height:20px;">燎原红</span></a></div>
                               </li>                                                                                            
                              </ul>
                              </div>
                              
         </td>
         <td nowrap="nowrap">2016-08-20</td>                  
         <td nowrap="nowrap"><span style="color:#237fb0; line-height:35px;">审核不通过</span></td>
         <td nowrap="nowrap">2016-08-20</td>         
         </tr>  -->                     
  <!--      <tr align="center">
         <td nowrap="nowrap">201600003</td>   
         <td nowrap="nowrap"><a href="#" style="color:#2180ae;">0123456789</a></td>                
         <td nowrap="nowrap" style="padding:0px;">
                              <div class="order_menu">
                              <ul>
                              <li>
                                <div class="order_text"><a href="#" style="color:#2180ae;">克洛斯威智能钢琴（卧式款）<span style=" font-size:12px; display:block; line-height:20px;">燎原红</span></a></div>
                               </li>                                                                                            
                              </ul>
                              </div>
                              
         </td>
         <td nowrap="nowrap">2016-08-20</td>                  
         <td nowrap="nowrap"><span style="color:#b3b3b3; line-height:35px;">已完成</span></td>
         <td nowrap="nowrap">2016-08-20</td>         
         </tr>   -->                                                                          
     </tbody>
   </table>
</div>
</div>
<div th:include="common/foot"></div>
    
</body>
</html>
