<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.klsw.common.mall.mapper.BgRoleMapper" >
  <resultMap id="BaseResultMap" type="com.klsw.common.mall.model.BgRole" >
    <!--
      WARNING - @mbggenerated
    -->
    <result column="RoleID" property="roleid" jdbcType="INTEGER" />
    <result column="RoleName" property="rolename" jdbcType="VARCHAR" />
    <result column="RoleAuthority" property="roleauthority" jdbcType="VARCHAR" />
  </resultMap>
</mapper>