<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.klsw.common.mall.mapper.TMallAttributeValueMapper" >
  <resultMap id="BaseResultMap" type="com.klsw.common.mall.model.TMallAttributeValue" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="productId" property="productid" jdbcType="INTEGER" />
    <result column="attributeId" property="attributeid" jdbcType="INTEGER" />
    <result column="attributeGroupId" property="attributegroupid" jdbcType="INTEGER" />
    <result column="attributeCode" property="attributecode" jdbcType="VARCHAR" />
    <result column="attributeValue" property="attributevalue" jdbcType="VARCHAR" />
    <result column="attributeName" property="attributeName" jdbcType="VARCHAR" />
    <result column="attributeTypeName" property="attributeTypeName" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="ltime" property="ltime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="selectAttributeValuesByProductId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	SELECT t1.attributeValue, t2.name AS attributeName, t3.name AS attributeTypeName FROM t_mall_attribute_value t1 LEFT JOIN t_mall_attribute t2 ON t1.attributeId = t2.id LEFT JOIN t_mall_attribute_type t3 ON t2.typeId = t3.id WHERE t1.productId = #{productId}
  </select>
</mapper>