<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.klsw.common.mall.mapper.TMallLogisticsMapper" >
  <resultMap id="BaseResultMap" type="com.klsw.common.mall.model.TMallLogistics" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderSerial" property="orderserial" jdbcType="VARCHAR" />
    <result column="logisticsSerial" property="logisticsserial" jdbcType="VARCHAR" />
    <result column="logisticsName" property="logisticsname" jdbcType="VARCHAR" />
    <result column="logisticsCompany" property="logisticscompany" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="ltime" property="ltime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>