  <script type="text/javascript">
  $(function(){
	  
    $(".navContent").removeClass("orange");
	 
  });
  </script>
     <div class="left">
<!-- 代码 开始 -->
<div class="subNavBox">
	<div class="subNav">后台主页</div>
	<ul class="navContent">
			<li><a href="/manage/order">后台首页</a></li> 
	</ul>

	<div class="subNav currentDd currentDt">新闻中心</div>
	<ul class="navContent" style="display:block">
			<li><a href="/manage/order/newsList" class="orange">新闻列表</a></li>
			<li><a href="/manage/order/toAddNews">添加新闻</a></li> 
	</ul>
	<div class="subNav">管理员中心</div>
	<ul class="navContent">
			<li><a href="/manage/order/userList">管理员列表</a></li>
			<li><a href="/manage/order/toAddManager">添加管理员</a></li>
			<li><a href="/manage/order/roleList">角色列表</a></li>
			<li><a href="/manage/order/toAddRole">添加角色</a></li>
	</ul>
	<div class="subNav">订单管理</div>
	<ul class="navContent">
			<li><a href="/manage/order/orderManage" class="orange">订单操作</a></li>
	</ul>
	<div class="subNav">商品管理</div>
	<ul class="navContent">
			<li><a href="/manage/order/productList" class="orange">商品列表</a></li>
	</ul>
 	<div class="subNav">留言管理</div>
	<ul class="navContent">
			<li><a href="/manage/order/messageList">留言列表</a></li>
	</ul>
	<div class="subNav">售后管理</div>
	<ul class="navContent">
			<li><a href="/manage/order/saledList">售后单查询</a></li>
	</ul>      
</div>
<!-- 代码 结束 -->


     </div>