<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
	$(function(){
		//鼠标移入
		$('#a').mouseover(function(){
		    $('#b').show();
		});
		//鼠标移出
		$('#a').mouseout(function(){
		$('#b').hide();
		});
	});
</script>
</head>

<body>
<div class="footnav">
     <div class="flash-bar">
     	<ul class="service-block">
	        <li><img src="/images/lightning.png" /><br />免运费闪电发货</li>                 
	        <li><img src="/images/seven.png" /><br />7天无理由退货</li>
	        <li><img src="/images/fifteen.png" /><br />15天换货保障</li>                                                   
	        <li style="margin-right:0px;"><img src="/images/years.png" /><br />365天免费保修</li>                 
        </ul>
	</div>
    <div class="bn-content"style=" position:relative">
     <a id="b" href="#" style="display: none; position:absolute; right:315px; top:128px; z-index:999;"><img src="/images/威客二维码.png" /></a>    
		<ul class="nav-block">
	        <li style=" margin-right:150px;">
	            <span>帮助中心</span>
	            <p><a href="/notice.html#gouwuzhinan">购物指南</a></p>
	            <p><a href="/notice.html#zhifufangshi">支付方式</a></p>
	            <p><a href="/notice.html#peisongfangshi">配送方式</a></p>
	        </li>
	         <li style=" margin-right:150px;">
	             <span>服务支持</span>
	             <p><a href="/notice.html#shouhoufuwuzongze">售后政策</a></p>
	             <p><a href="/inquiry.html">网点查询</a></p>
	         </li>
	        <li style=" margin-right:90px;">
	            <span>媒体中心</span>
	            <p><a href="/news">新闻动态</a></p><!-- /news_events.html -->
	            <p><a href="javascript:;">媒体评测</a></p>
	        </li>
	        <li style=" margin-right:20px;">
	            <span>官方微信</span>
	            <p><img src="/images/qrb.jpg" style="width:103px;"/>  </p>
	        </li>
	        <li style=" margin-right:76px;">
	            <span>官方微博</span>
	            <p><img src="/images/qra.png" style="width:103px;"/>  </p>
	        </li>                
            <li style="width:100px; background:url(/images/bottom_tele.png) left center no-repeat; padding-left:45px;">                
		          <div class="telephone" style="width:180px; font-size:14px;">
		                                            加盟合作
		                <p style=" margin-bottom:12px;">400-8080-218转1</p>
		                                           售后服务
		                <p>400-8080-218转2</p>
		       	  </div>
            </li>                                         
		</ul>
	</div>
    <div class="cpr-content">
		<span class="copyright" style=" margin-top:20px;">       
            <a href="http://m.klsw.com">手机官网</a>
            <span style="padding:0px 20px;">|</span>
            <a href="/message">联系我们</a>
            <span style="padding:0px 20px;">|</span>
            <a href="/aboutus.html">企业简介</a>
            <span style="padding:0px 20px;">|</span>
            <a href="/joinus.html">加入我们</a> 
            <span style="padding:0px 20px;">|</span>
            <a id="a" href="#">威客空间</a>       
        </span>
        <span class="copyright">       
                Copyright©2016 KLSW.COM &nbsp;安徽克洛斯威智能乐器科技有限公司&nbsp; All rights reserved. ICP证：皖ICP备15021161号-1               
       	</span>
    </div>
</div>        
</body>
</html>
