<div class="navhead" style="border-bottom:1px solid #ddd;">
	<nav class="index-nav">
		<div class="logo">
			<a href="/index.html"><img src="/images/logo.png" /></a>
		</div>

		<div class="shopcart">
			<a href="/cart"> </a>
		</div>
		<!--  <div class="exit" th:if="${session.klsw_user }">
		    <a href="/logout">退出</a>
		 </div> -->
		<div class="login">
			<a href="/order/list"></a>
		</div>
		<ul class="nav-list">

			<li class="nav-item"><a href="/">首页</a></li>

			<li class="nav-item"><a href="/smart.html">智能钢琴</a></li>

			<li class="nav-item"><a href="/mall" class="orange">在线商城</a></li>

			<li class="nav-item"><a href="/service.html">招商加盟</a></li>

			<li class="nav-item"><a href="/aboutus.html">关于我们</a></li>

		</ul>
		
	</nav>
</div>