<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户信息列表</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/css.css" />
<link href="/css/zzsc.css" type="text/css" rel="stylesheet"/>
<script src="/js/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
$(".subNav").click(function(){
			$(this).toggleClass("currentDd").siblings(".subNav").removeClass("currentDd");
			$(this).toggleClass("currentDt").siblings(".subNav").removeClass("currentDt");
			 
	})	
})
</script>
<script type="text/javascript">
	$(function(){
		var title= "";
		var fenye=$(".fenye");
		for(var i=0;i<fenye.length;i++){
		    var hr = fenye.eq(i).attr("href");    
		    hr+='&title='+title;
			fenye.eq(i).attr("href",hr);
		}
		$("#goto").click(function(){
			var pageNum = $("#pageId").val();	
   
			var count = $("#count").html();
 
			var pageSize = $("#pageSize").html();
 
			var totalPages = (count%pageSize == 0) ? count/pageSize : (count/pageSize+1); 
 
			  if(pageNum>0 && pageNum<=totalPages) {
				location.href = "/agency/SNList?pageId="+pageNum+"&searchstr="+title;
			}  
		});
		$("#titlename").click(function(){
			title=$("#titleId").val();
			window.location.href='/agency/SNList?searchstr='+title;
		});
	});
</script>
</head>
<body>
	<div th:include="agency_manage/agency_head"></div>
<!-- 顶部 -->              
<div id="middle">
     <div class="left">
<!-- 代码 开始 -->
	<div th:include="agency_manage/agency_nav"></div>
<!-- 代码 结束 -->
     </div>
     <div class="right"  id="mainFrame">
     <div class="right_cont">
 <ul class="breadcrumb">当前位置：
SN编号对应关系列表
</ul>
<div class="serch_right" style=" padding:20px 0;"><a href="/agency/toAddSN"><input type="button" value="添加序列号对应关系+" class="btn btn-info " style="width:140px; float:left; " /></a>
<input type="text" id="titleId" th:value="${searchStr}"  class=" serch_text" /><input type="button" value="检索" id="titlename" class="btn btn-info " name="searchstr" style="width:80px;" /></div>
   <table class="table table-bordered table-striped table-hover">
     <tbody>
       <tr align="center">
         <th width="5%" nowrap="nowrap">ID</th>  
         <th width="11%" nowrap="nowrap">产品编号</th>                  
         <th width="25%" nowrap="nowrap">产品序列号</th>           
         <th width="25%" nowrap="nowrap">经销商编号</th>
         <th width="15%" nowrap="nowrap">操作时间</th>
         <th width="32%" nowrap="nowrap">备注</th>              
         <th width="21%" nowrap="nowrap">操作</th>                            
         </tr>
       <tr align="center" th:each="agencyList:${agencyList.list}">
         <td nowrap="nowrap" th:text="${agencyList.id}"> </td>
         <td nowrap="nowrap" th:text="${agencyList.pid}"> </td>
         <td nowrap="nowrap" th:text="${agencyList.sn}"> </td>
         <td nowrap="nowrap" th:text="${agencyList.sid}"> </td>
         <td nowrap="nowrap" th:text="${#dates.format(agencyList.addtime,'yyyy-MM-dd')}"></td>
         <td nowrap="nowrap" th:text="${agencyList.remark}"> </td>
         <td nowrap="nowrap"><a th:href="'/agency/toMdySN?id='+${agencyList.id}" >修改</a>&nbsp;&nbsp;<a th:href="'/agency/delSN?id='+${agencyList.id}">删除</a></td>
        </tr>
     </tbody>
   </table>
      <div class="fan"><a class="fenye" th:href="'/agency/SNList?pageId='+${agencyList.firstPage}">首页</a>
       &nbsp;&nbsp;&nbsp;<a class="fenye" th:href="'/agency/SNList?pageId='+${agencyList.pageNum-1}">上一页</a>
       &nbsp;&nbsp;&nbsp;<a class="fenye" th:href="'/agency/SNList?pageId='+${agencyList.pageNum+1}">下一页</a>
       &nbsp;&nbsp;&nbsp;<a class="fenye" th:href="'/agency/SNList?pageId='+${agencyList.lastPage}">尾页</a>
  		 共
		<span id="count" th:text="${agencyList.total}"></span>
				条&nbsp;&nbsp;&nbsp;页次：
		<span th:text="${agencyList.pageNum}+'/'+${agencyList.pages}"></span>
				&nbsp;&nbsp;&nbsp;转到：
		<input id="pageId" type="text" size="3"/>
				&nbsp;页&nbsp;&nbsp;&nbsp;
		<input id="goto" type="button" value="GO" /></div> 
     </div>     
     </div>
    </div>
</body>
</html>
