body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u12198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1214px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:750px;
  height:1214px;
}
#u12200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:599px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12202 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:23px;
  width:13px;
  height:13px;
}
#u12203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12204 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:23px;
  width:13px;
  height:13px;
}
#u12205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12206 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:23px;
  width:13px;
  height:13px;
}
#u12207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u12208 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:23px;
  width:13px;
  height:13px;
}
#u12209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u12210 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:24px;
  width:11px;
  height:11px;
}
#u12211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
}
#u12214 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:16px;
  width:93px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
}
#u12215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u12216 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:21px;
  width:24px;
  height:17px;
}
#u12217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u12218 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:16px;
  width:59px;
  height:27px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u12219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u12220 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:16px;
  width:47px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#000000;
}
#u12221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u12222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u12222 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:19px;
  width:48px;
  height:21px;
  color:#000000;
}
#u12223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u12224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:750px;
  height:1px;
}
#u12225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:35px;
}
#u12226 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:63px;
  width:141px;
  height:52px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:35px;
}
#u12227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u12228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:36px;
}
#u12228 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:71px;
  width:20px;
  height:36px;
}
#u12229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12230_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:710px;
  height:170px;
}
#u12230 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:164px;
  width:700px;
  height:160px;
}
#u12231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12232 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:194px;
  width:100px;
  height:100px;
  font-family:'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
#u12234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12234 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:194px;
  width:100px;
  height:100px;
  font-family:'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#EA7451;
}
#u12235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
#u12236_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:710px;
  height:170px;
}
#u12236 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:348px;
  width:700px;
  height:160px;
}
#u12237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12238 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:378px;
  width:100px;
  height:100px;
  font-family:'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
#u12240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12240 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:378px;
  width:100px;
  height:100px;
  font-family:'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#EA7451;
}
#u12241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
#u12242_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:710px;
  height:170px;
}
#u12242 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:533px;
  width:700px;
  height:160px;
}
#u12243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u12245 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:195px;
  width:101px;
  height:38px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u12246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u12247 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:265px;
  width:252px;
  height:30px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u12248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u12249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u12249 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:233px;
  width:147px;
  height:33px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u12250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u12251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u12252 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:189px;
  width:111px;
  height:111px;
  font-size:25px;
}
#u12253 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u12254 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:210px;
  width:70px;
  height:68px;
  font-size:25px;
}
#u12255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u12256 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:563px;
  width:100px;
  height:100px;
  font-family:'Hiragino Sans GB W3', 'Hiragino Sans GB';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F2F2F2;
}
#u12257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:96px;
  word-wrap:break-word;
}
#u12258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u12259 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:379px;
  width:101px;
  height:38px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u12260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u12261 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:449px;
  width:252px;
  height:30px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u12262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u12263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u12263 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:417px;
  width:147px;
  height:33px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u12264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u12265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u12266 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:373px;
  width:111px;
  height:111px;
  font-size:25px;
}
#u12267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u12268 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:394px;
  width:70px;
  height:68px;
  font-size:25px;
}
#u12269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u12271 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:564px;
  width:101px;
  height:38px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u12272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u12273 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:634px;
  width:252px;
  height:30px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u12274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u12275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u12275 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:602px;
  width:147px;
  height:33px;
  font-family:'冬青黑体简体中文 W3', '冬青黑体简体中文';
  font-weight:300;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u12276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u12277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u12278 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:558px;
  width:111px;
  height:111px;
  font-size:25px;
}
#u12279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:68px;
}
#u12280 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:579px;
  width:70px;
  height:68px;
  font-size:25px;
}
#u12281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
