<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.mapper.AcjkSzshLicnameMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springboot.model.AcjkSzshLicname">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="LIC_NAME" jdbcType="VARCHAR" property="licName" />
  </resultMap>
</mapper>