<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.mapper.AcjkSzshPermitsinfoChangeMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springboot.model.AcjkSzshPermitsinfoChange">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="LIC_ALT_ID" jdbcType="VARCHAR" property="licAltId" />
    <result column="LIC_ID" jdbcType="VARCHAR" property="licId" />
    <result column="ALT" jdbcType="VARCHAR" property="alt" />
    <result column="ALT_BE" jdbcType="VARCHAR" property="altBe" />
    <result column="ALT_AF" jdbcType="VARCHAR" property="altAf" />
    <result column="ALT_DATE" jdbcType="VARCHAR" property="altDate" />
    <result column="DATA_DEPT" jdbcType="VARCHAR" property="dataDept" />
  </resultMap>
</mapper>