<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.mapper.AcjkSzshPersonblacksinfoMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springboot.model.AcjkSzshPersonblacksinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="PERSON_NAME" jdbcType="VARCHAR" property="personName" />
    <result column="CER_NO" jdbcType="VARCHAR" property="cerNo" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="COURT_NAME" jdbcType="VARCHAR" property="courtName" />
    <result column="AREA_NAME" jdbcType="VARCHAR" property="areaName" />
    <result column="GIST_CID" jdbcType="VARCHAR" property="gistCid" />
    <result column="GIST_UNIT" jdbcType="VARCHAR" property="gistUnit" />
    <result column="PERFORMANCE" jdbcType="VARCHAR" property="performance" />
    <result column="DISREPUT_TYPE_NAME" jdbcType="VARCHAR" property="disreputTypeName" />
    <result column="PUBLISH_DATE" jdbcType="VARCHAR" property="publishDate" />
    <result column="PERFORMED_PART" jdbcType="VARCHAR" property="performedPart" />
    <result column="UNPERFORM_PART" jdbcType="VARCHAR" property="unperformPart" />
  </resultMap>
</mapper>