<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.mapper.AcjkSzshEntybasicinfoMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springboot.model.AcjkSzshEntybasicinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="UNI_SCID" jdbcType="VARCHAR" property="uniScid" />
    <result column="REG_NO" jdbcType="VARCHAR" property="regNo" />
    <result column="ENT_NAME" jdbcType="VARCHAR" property="entName" />
    <result column="ENT_TYPE" jdbcType="VARCHAR" property="entType" />
    <result column="EST_DATE" jdbcType="VARCHAR" property="estDate" />
    <result column="LEREP" jdbcType="VARCHAR" property="lerep" />
    <result column="REG_CAP" jdbcType="VARCHAR" property="regCap" />
    <result column="DOM" jdbcType="VARCHAR" property="dom" />
    <result column="OP_SCOPE" jdbcType="VARCHAR" property="opScope" />
    <result column="OP_FROM" jdbcType="VARCHAR" property="opFrom" />
    <result column="OP_TO" jdbcType="VARCHAR" property="opTo" />
    <result column="REG_ORGAN_NAME" jdbcType="VARCHAR" property="regOrganName" />
    <result column="APPR_DATE" jdbcType="VARCHAR" property="apprDate" />
    <result column="REG_STATE" jdbcType="VARCHAR" property="regState" />
    <result column="REV_DATE" jdbcType="VARCHAR" property="revDate" />
    <result column="ENT_UUID" jdbcType="VARCHAR" property="entUuid" />
    <result column="NEIGHBOR" jdbcType="VARCHAR" property="neighbor" />
  </resultMap>
</mapper>