<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.mapper.CorpInfoMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springboot.model.CorpInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CORP_INFO_ID" jdbcType="VARCHAR" property="corpInfoId" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="ENTITY_ID" jdbcType="VARCHAR" property="entityId" />
    <result column="CORP_NAME" jdbcType="VARCHAR" property="corpName" />
    <result column="CORP_TYPE" jdbcType="VARCHAR" property="corpType" />
    <result column="PERSON_NAME" jdbcType="VARCHAR" property="personName" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="AREA_CODE" jdbcType="VARCHAR" property="areaCode" />
    <result column="ZIP" jdbcType="VARCHAR" property="zip" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="ESTABLISH_DATE" jdbcType="DATE" property="establishDate" />
    <result column="REG_CAPITAL" jdbcType="DECIMAL" property="regCapital" />
    <result column="CURRENCY" jdbcType="VARCHAR" property="currency" />
    <result column="BUSINESS_SCOPE" jdbcType="VARCHAR" property="businessScope" />
    <result column="PERSON_CERT_TYPE" jdbcType="VARCHAR" property="personCertType" />
    <result column="PERSON_CERT_CODE" jdbcType="VARCHAR" property="personCertCode" />
    <result column="INDUSTRY_CODE" jdbcType="VARCHAR" property="industryCode" />
    <result column="ORGANIZERS" jdbcType="VARCHAR" property="organizers" />
    <result column="FUNDING_SRC" jdbcType="VARCHAR" property="fundingSrc" />
    <result column="REG_NO" jdbcType="VARCHAR" property="regNo" />
    <result column="RECEIVING_ORGAN" jdbcType="VARCHAR" property="receivingOrgan" />
    <result column="REPEAL_REASON" jdbcType="VARCHAR" property="repealReason" />
    <result column="REPEAL_DATE" jdbcType="DATE" property="repealDate" />
    <result column="CHANGE_DATE" jdbcType="DATE" property="changeDate" />
    <result column="CHANGE_ITEM" jdbcType="VARCHAR" property="changeItem" />
    <result column="REPEAL_ORGAN" jdbcType="VARCHAR" property="repealOrgan" />
    <result column="BRANCH_NUM" jdbcType="DECIMAL" property="branchNum" />
    <result column="REPRESENT_NUM" jdbcType="DECIMAL" property="representNum" />
    <result column="REG_UPD_DATE" jdbcType="DATE" property="regUpdDate" />
    <result column="TAXPAYERS_CODE" jdbcType="VARCHAR" property="taxpayersCode" />
    <result column="TAX_CODE" jdbcType="VARCHAR" property="taxCode" />
    <result column="TAX_REG_DATE" jdbcType="DATE" property="taxRegDate" />
    <result column="TAX_CHGE_CONTENT" jdbcType="VARCHAR" property="taxChgeContent" />
    <result column="TAX_CHGE_DATE" jdbcType="DATE" property="taxChgeDate" />
    <result column="TAX_REPEAL_REASON" jdbcType="VARCHAR" property="taxRepealReason" />
    <result column="TAX_REPEAL_DATE" jdbcType="DATE" property="taxRepealDate" />
    <result column="TAX_REPEAL_ORGAN" jdbcType="VARCHAR" property="taxRepealOrgan" />
    <result column="BUSINESS_ADDRESS" jdbcType="VARCHAR" property="businessAddress" />
    <result column="TAX_UPD_DATE" jdbcType="DATE" property="taxUpdDate" />
    <result column="ORGANCODE_DATE" jdbcType="DATE" property="organcodeDate" />
    <result column="ORGCODE_CHGDATE" jdbcType="DATE" property="orgcodeChgdate" />
    <result column="ORGCODE_REPEALDATE" jdbcType="DATE" property="orgcodeRepealdate" />
    <result column="QS_UPD_DATE" jdbcType="DATE" property="qsUpdDate" />
    <result column="BD_RESULT" jdbcType="VARCHAR" property="bdResult" />
    <result column="QYK_ID" jdbcType="VARCHAR" property="qykId" />
    <result column="UPD_TIME" jdbcType="DATE" property="updTime" />
    <result column="TRIM_CORP_NAME" jdbcType="VARCHAR" property="trimCorpName" />
    <result column="FUNDS_CODE" jdbcType="VARCHAR" property="fundsCode" />
    <result column="FUNDS_OPEN_DATE" jdbcType="DATE" property="fundsOpenDate" />
    <result column="FUNDS_REPEAL_DATE" jdbcType="DATE" property="fundsRepealDate" />
    <result column="FUNDS_UPD_DATE" jdbcType="DATE" property="fundsUpdDate" />
    <result column="FUNDSADD_CODE" jdbcType="VARCHAR" property="fundsaddCode" />
    <result column="FUNDSADD_OPEN_DATE" jdbcType="DATE" property="fundsaddOpenDate" />
    <result column="FUNDSADD_REPEAL_DATE" jdbcType="DATE" property="fundsaddRepealDate" />
    <result column="FUNDSADD_UPD_DATE" jdbcType="DATE" property="fundsaddUpdDate" />
    <result column="SOCIAL_SECURITY_CODE" jdbcType="VARCHAR" property="socialSecurityCode" />
    <result column="SOCIAL_SECURITY_OPEN_DATE" jdbcType="DATE" property="socialSecurityOpenDate" />
    <result column="SOCIAL_SECURITY_REPEAL_DATE" jdbcType="DATE" property="socialSecurityRepealDate" />
    <result column="SOCIAL_SECURITY_UPD_DATE" jdbcType="DATE" property="socialSecurityUpdDate" />
    <result column="LK_STATUS" jdbcType="VARCHAR" property="lkStatus" />
    <result column="IS_ZMQ" jdbcType="VARCHAR" property="isZmq" />
    <result column="INSERT_TIME" jdbcType="DATE" property="insertTime" />
    <result column="CORP_STATUS" jdbcType="VARCHAR" property="corpStatus" />
    <result column="IS_GSL" jdbcType="VARCHAR" property="isGsl" />
    <result column="IS_RECENTLY_ZMQ" jdbcType="VARCHAR" property="isRecentlyZmq" />
    <result column="IS_WEB_SEND" jdbcType="VARCHAR" property="isWebSend" />
    <result column="UNI_SC_ID" jdbcType="VARCHAR" property="uniScId" />
    <result column="SELF_INSERT_DATE" jdbcType="DATE" property="selfInsertDate" />
    <result column="SERVICE_INSERT_DATE" jdbcType="DATE" property="serviceInsertDate" />
  </resultMap>
</mapper>