<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.mapper.JcptCaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springboot.model.JcptCaseInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CASE_ID" jdbcType="VARCHAR" property="caseId" />
    <result column="START_ID" jdbcType="VARCHAR" property="startId" />
    <result column="PUSH_INFO_ID" jdbcType="VARCHAR" property="pushInfoId" />
    <result column="MEASURE_ID" jdbcType="VARCHAR" property="measureId" />
    <result column="MEASURE" jdbcType="VARCHAR" property="measure" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="FINISH_TIME" jdbcType="DATE" property="finishTime" />
  </resultMap>
</mapper>