<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.mapper.JcptStartInfoMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springboot.model.JcptStartInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="START_ID" jdbcType="VARCHAR" property="startId" />
    <result column="APPLY_ID" jdbcType="DECIMAL" property="applyId" />
    <result column="TARGET_TYPE" jdbcType="VARCHAR" property="targetType" />
    <result column="TARGET_NAME" jdbcType="VARCHAR" property="targetName" />
    <result column="XXLB" jdbcType="VARCHAR" property="xxlb" />
    <result column="APPLY_ITEM" jdbcType="VARCHAR" property="applyItem" />
    <result column="START_TYPE" jdbcType="VARCHAR" property="startType" />
    <result column="TREAT_OBJECT" jdbcType="VARCHAR" property="treatObject" />
    <result column="START_TIME" jdbcType="DATE" property="startTime" />
  </resultMap>
</mapper>