<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.mapper.PeopleInfoTagMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springboot.model.PeopleInfoTag">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ZJHM" jdbcType="VARCHAR" property="zjhm" />
    <result column="JBXX_NL" jdbcType="VARCHAR" property="jbxxNl" />
    <result column="JBXX_MZ" jdbcType="VARCHAR" property="jbxxMz" />
    <result column="TDQT_CZ" jdbcType="VARCHAR" property="tdqtCz" />
    <result column="GGFW_JJYL" jdbcType="VARCHAR" property="ggfwJjyl" />
    <result column="GGFW_SHJJJ" jdbcType="VARCHAR" property="ggfwShjjj" />
    <result column="GGFW_FSBBT" jdbcType="VARCHAR" property="ggfwFsbbt" />
    <result column="GGFW_YLJU" jdbcType="VARCHAR" property="ggfwYlju" />
    <result column="ZYZG_HS" jdbcType="VARCHAR" property="zyzgHs" />
    <result column="ZYZG_KJ" jdbcType="VARCHAR" property="zyzgKj" />
    <result column="ZYZG_LS" jdbcType="VARCHAR" property="zyzgLs" />
    <result column="ZYZG_YS" jdbcType="VARCHAR" property="zyzgYs" />
    <result column="ZYZG_FSGZ" jdbcType="VARCHAR" property="zyzgFsgz" />
    <result column="RYJL_LSBZ" jdbcType="VARCHAR" property="ryjlLsbz" />
    <result column="BQFR_FRDB" jdbcType="VARCHAR" property="bqfrFrdb" />
    <result column="SCJY_GM" jdbcType="VARCHAR" property="scjyGm" />
    <result column="JGCF_SZCF" jdbcType="VARCHAR" property="jgcfSzcf" />
    <result column="HT_CLDJ" jdbcType="VARCHAR" property="htCldj" />
    <result column="HT_SBJN" jdbcType="VARCHAR" property="htSbjn" />
    <result column="HT_WSZC" jdbcType="VARCHAR" property="htWszc" />
    <result column="HT_MSPJ" jdbcType="VARCHAR" property="htMspj" />
    <result column="HT_XSPJ" jdbcType="VARCHAR" property="htXspj" />
    <result column="HT_GAWF" jdbcType="VARCHAR" property="htGawf" />
    <result column="HT_SXR" jdbcType="VARCHAR" property="htSxr" />
    <result column="HT_QF" jdbcType="VARCHAR" property="htQf" />
    <result column="HT_WZX" jdbcType="VARCHAR" property="htWzx" />
    <result column="HT_WPCC" jdbcType="VARCHAR" property="htWpcc" />
    <result column="HT_ZSTY" jdbcType="VARCHAR" property="htZsty" />
    <result column="HT_JJ" jdbcType="VARCHAR" property="htJj" />
    <result column="HT_MYZJ" jdbcType="VARCHAR" property="htMyzj" />
    <result column="JBXX_GJ" jdbcType="VARCHAR" property="jbxxGj" />
    <result column="JBXX_ZJXY" jdbcType="VARCHAR" property="jbxxZjxy" />
    <result column="JBXX_HYZK" jdbcType="VARCHAR" property="jbxxHyzk" />
    <result column="JBXX_WHCD" jdbcType="VARCHAR" property="jbxxWhcd" />
    <result column="JBXX_HJLB" jdbcType="VARCHAR" property="jbxxHjlb" />
    <result column="JBXX_ZY" jdbcType="VARCHAR" property="jbxxZy" />
    <result column="ZYZG_FLFW" jdbcType="VARCHAR" property="zyzgFlfw" />
    <result column="TDQT_JCWGB" jdbcType="VARCHAR" property="tdqtJcwgb" />
    <result column="TDQT_DY" jdbcType="VARCHAR" property="tdqtDy" />
    <result column="TDQT_QJ" jdbcType="VARCHAR" property="tdqtQj" />
    <result column="GGFW_CZRS_ZTJZ" jdbcType="VARCHAR" property="ggfwCzrsZtjz" />
    <result column="GGFW_FLYZ" jdbcType="VARCHAR" property="ggfwFlyz" />
    <result column="GGFW_TSBT" jdbcType="VARCHAR" property="ggfwTsbt" />
    <result column="ZYZG_LHJZ" jdbcType="VARCHAR" property="zyzgLhjz" />
    <result column="ZYZG_SPFXS" jdbcType="VARCHAR" property="zyzgSpfxs" />
    <result column="RYJL_QJBZ" jdbcType="VARCHAR" property="ryjlQjbz" />
    <result column="GGFW_CZRS_JZJXQ" jdbcType="VARCHAR" property="ggfwCzrsJzjxq" />
    <result column="GGFW_CZRS_ZCBX" jdbcType="VARCHAR" property="ggfwCzrsZcbx" />
    <result column="GGFW_CZRS_DBBT" jdbcType="VARCHAR" property="ggfwCzrsDbbt" />
  </resultMap>
</mapper>