<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.mapper.TGaRjbxxMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springboot.model.TGaRjbxx">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="RID" jdbcType="VARCHAR" property="rid" />
    <result column="SYRKLBDM" jdbcType="VARCHAR" property="syrklbdm" />
    <result column="SYRKLBHZ" jdbcType="VARCHAR" property="syrklbhz" />
    <result column="ZJZLDM" jdbcType="VARCHAR" property="zjzldm" />
    <result column="ZJZLHZ" jdbcType="VARCHAR" property="zjzlhz" />
    <result column="ZJHM" jdbcType="VARCHAR" property="zjhm" />
    <result column="XM" jdbcType="VARCHAR" property="xm" />
    <result column="XMQP" jdbcType="VARCHAR" property="xmqp" />
    <result column="XMSP" jdbcType="VARCHAR" property="xmsp" />
    <result column="CYM" jdbcType="VARCHAR" property="cym" />
    <result column="XBDM" jdbcType="VARCHAR" property="xbdm" />
    <result column="XBHZ" jdbcType="VARCHAR" property="xbhz" />
    <result column="MZDM" jdbcType="VARCHAR" property="mzdm" />
    <result column="MZHZ" jdbcType="VARCHAR" property="mzhz" />
    <result column="CSRQ" jdbcType="VARCHAR" property="csrq" />
    <result column="CSDXZQHDM" jdbcType="VARCHAR" property="csdxzqhdm" />
    <result column="CSDXZQHHZ" jdbcType="VARCHAR" property="csdxzqhhz" />
    <result column="CSDXZ" jdbcType="VARCHAR" property="csdxz" />
    <result column="JGDM" jdbcType="VARCHAR" property="jgdm" />
    <result column="JGHZ" jdbcType="VARCHAR" property="jghz" />
    <result column="HH" jdbcType="VARCHAR" property="hh" />
    <result column="HLSH" jdbcType="VARCHAR" property="hlsh" />
    <result column="FHLSH" jdbcType="VARCHAR" property="fhlsh" />
    <result column="HJDXZQHDM" jdbcType="VARCHAR" property="hjdxzqhdm" />
    <result column="HJDXZQHHZ" jdbcType="VARCHAR" property="hjdxzqhhz" />
    <result column="HJDLMDM" jdbcType="VARCHAR" property="hjdlmdm" />
    <result column="HJDLMHZ" jdbcType="VARCHAR" property="hjdlmhz" />
    <result column="HJDXZ" jdbcType="VARCHAR" property="hjdxz" />
    <result column="HJDZ" jdbcType="VARCHAR" property="hjdz" />
    <result column="HJDYJMP" jdbcType="VARCHAR" property="hjdyjmp" />
    <result column="HJDYJMPDSH" jdbcType="VARCHAR" property="hjdyjmpdsh" />
    <result column="HJDEJMP" jdbcType="VARCHAR" property="hjdejmp" />
    <result column="HJDEJMPDSH" jdbcType="VARCHAR" property="hjdejmpdsh" />
    <result column="JZDXZQHDM" jdbcType="VARCHAR" property="jzdxzqhdm" />
    <result column="JZDXZQHHZ" jdbcType="VARCHAR" property="jzdxzqhhz" />
    <result column="JZDLMDM" jdbcType="VARCHAR" property="jzdlmdm" />
    <result column="JZDLMHZ" jdbcType="VARCHAR" property="jzdlmhz" />
    <result column="JZDXZ" jdbcType="VARCHAR" property="jzdxz" />
    <result column="JZDZ" jdbcType="VARCHAR" property="jzdz" />
    <result column="JZDYJMP" jdbcType="VARCHAR" property="jzdyjmp" />
    <result column="JZDYJMPDSH" jdbcType="VARCHAR" property="jzdyjmpdsh" />
    <result column="JZDEJMP" jdbcType="VARCHAR" property="jzdejmp" />
    <result column="JZDEJMPDSH" jdbcType="VARCHAR" property="jzdejmpdsh" />
    <result column="WHCDDM" jdbcType="VARCHAR" property="whcddm" />
    <result column="WHCDHZ" jdbcType="VARCHAR" property="whcdhz" />
    <result column="HYZKDM" jdbcType="VARCHAR" property="hyzkdm" />
    <result column="HYZKHZ" jdbcType="VARCHAR" property="hyzkhz" />
    <result column="POXM" jdbcType="VARCHAR" property="poxm" />
    <result column="POZJHM" jdbcType="VARCHAR" property="pozjhm" />
    <result column="ZY" jdbcType="VARCHAR" property="zy" />
    <result column="ZYLBDM" jdbcType="VARCHAR" property="zylbdm" />
    <result column="ZYLBHZ" jdbcType="VARCHAR" property="zylbhz" />
    <result column="FWCS" jdbcType="VARCHAR" property="fwcs" />
    <result column="ZJXYDM" jdbcType="VARCHAR" property="zjxydm" />
    <result column="ZJXYHZ" jdbcType="VARCHAR" property="zjxyhz" />
    <result column="BYZKDM" jdbcType="VARCHAR" property="byzkdm" />
    <result column="BYZKHZ" jdbcType="VARCHAR" property="byzkhz" />
    <result column="SG" jdbcType="VARCHAR" property="sg" />
    <result column="XXDM" jdbcType="VARCHAR" property="xxdm" />
    <result column="XXHZ" jdbcType="VARCHAR" property="xxhz" />
    <result column="ZZSYDM" jdbcType="VARCHAR" property="zzsydm" />
    <result column="ZZSYHZ" jdbcType="VARCHAR" property="zzsyhz" />
    <result column="YHZGXDM" jdbcType="VARCHAR" property="yhzgxdm" />
    <result column="YHZGXHZ" jdbcType="VARCHAR" property="yhzgxhz" />
    <result column="YZJZRGXDM" jdbcType="VARCHAR" property="yzjzrgxdm" />
    <result column="YZJZRGXHZ" jdbcType="VARCHAR" property="yzjzrgxhz" />
    <result column="GJDM" jdbcType="VARCHAR" property="gjdm" />
    <result column="GJHZ" jdbcType="VARCHAR" property="gjhz" />
    <result column="YWX" jdbcType="VARCHAR" property="ywx" />
    <result column="YWM" jdbcType="VARCHAR" property="ywm" />
    <result column="JWRYSFDM" jdbcType="VARCHAR" property="jwrysfdm" />
    <result column="JWRYSFHZ" jdbcType="VARCHAR" property="jwrysfhz" />
    <result column="TLSYDM" jdbcType="VARCHAR" property="tlsydm" />
    <result column="TLSYHZ" jdbcType="VARCHAR" property="tlsyhz" />
    <result column="RJSJ" jdbcType="VARCHAR" property="rjsj" />
    <result column="XXJB" jdbcType="VARCHAR" property="xxjb" />
    <result column="ZZJGDM" jdbcType="VARCHAR" property="zzjgdm" />
    <result column="ZZJGHZ" jdbcType="VARCHAR" property="zzjghz" />
    <result column="ZXGXSJ" jdbcType="VARCHAR" property="zxgxsj" />
    <result column="JZFWID" jdbcType="VARCHAR" property="jzfwid" />
    <result column="HJFWID" jdbcType="VARCHAR" property="hjfwid" />
    <result column="MAPIDD" jdbcType="VARCHAR" property="mapidd" />
    <result column="JZDZZJGDM" jdbcType="VARCHAR" property="jzdzzjgdm" />
    <result column="JZDZZJGHZ" jdbcType="VARCHAR" property="jzdzzjghz" />
    <result column="JLRKSJ" jdbcType="VARCHAR" property="jlrksj" />
    <result column="JZDJDDM" jdbcType="VARCHAR" property="jzdjddm" />
    <result column="JZDJDHZ" jdbcType="VARCHAR" property="jzdjdhz" />
    <result column="JZDJWHDM" jdbcType="VARCHAR" property="jzdjwhdm" />
    <result column="JZDJWHHZ" jdbcType="VARCHAR" property="jzdjwhhz" />
    <result column="HJDJDDM" jdbcType="VARCHAR" property="hjdjddm" />
    <result column="HJDJDHZ" jdbcType="VARCHAR" property="hjdjdhz" />
    <result column="HJDJWHDM" jdbcType="VARCHAR" property="hjdjwhdm" />
    <result column="HJDJWHHZ" jdbcType="VARCHAR" property="hjdjwhhz" />
    <result column="HJDZZJGDM" jdbcType="VARCHAR" property="hjdzzjgdm" />
    <result column="HJDZZJGHZ" jdbcType="VARCHAR" property="hjdzzjghz" />
    <result column="JZDJZWID" jdbcType="VARCHAR" property="jzdjzwid" />
    <result column="HJDJZWID" jdbcType="VARCHAR" property="hjdjzwid" />
    <result column="HJMAPID" jdbcType="VARCHAR" property="hjmapid" />
    <result column="IS_KGH" jdbcType="VARCHAR" property="isKgh" />
    <result column="SYRKZLBDM" jdbcType="VARCHAR" property="syrkzlbdm" />
    <result column="SYRKZLBHZ" jdbcType="VARCHAR" property="syrkzlbhz" />
    <result column="JZDJZWMC" jdbcType="VARCHAR" property="jzdjzwmc" />
    <result column="HJDJZWMC" jdbcType="VARCHAR" property="hjdjzwmc" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="IS_ZDRY" jdbcType="VARCHAR" property="isZdry" />
    <result column="BZ" jdbcType="CLOB" property="bz" />
  </resultMap>
</mapper>