<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.mapper.VXyptZymlMapper">
  <resultMap id="BaseResultMap" type="com.kevin.springboot.model.VXyptZyml">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="BMLX" jdbcType="VARCHAR" property="bmlx" />
    <result column="DWMC" jdbcType="VARCHAR" property="dwmc" />
    <result column="DWDM" jdbcType="VARCHAR" property="dwdm" />
    <result column="XXLB" jdbcType="VARCHAR" property="xxlb" />
    <result column="ZYDM" jdbcType="VARCHAR" property="zydm" />
    <result column="XXSX" jdbcType="VARCHAR" property="xxsx" />
    <result column="TABLECOLUMN" jdbcType="VARCHAR" property="tablecolumn" />
    <result column="MODELCOLUMN" jdbcType="VARCHAR" property="modelcolumn" />
    <result column="TABLENAME" jdbcType="VARCHAR" property="tablename" />
    <result column="是否有数据" jdbcType="VARCHAR" property="是否有数据" />
  </resultMap>
</mapper>