<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/css/center.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/js/jquery.js"></script>
</head>

<body>
<div class="navhead" style="border-bottom: 1px solid #ddd;">
		<nav class="index-nav">
		<div class="logo">
			<a href="/index.html"><img src="/images/logo.png" /></a>
		</div>
		<div class="shopcart">
			<a href="/cart"> </a>
		</div>
		<div class="exit" th:if="${session.klsw_user }">
			<a href="/logout">退出</a>
		</div>
		<div class="login">
			<a href="/order/list"></a>
		</div>
		<ul class="nav-list">

			<li class="nav-item"><a href="/">首页</a></li>

			<li class="nav-item"><a href="/smart.html">智能钢琴</a></li>

			<li class="nav-item"><a href="/mall" class="orange">在线商城</a></li>

			<li class="nav-item"><a href="/service.html">服务中心</a></li>

			<li class="nav-item"><a href="/aboutus.html">关于我们</a></li>

		</ul>
		</nav>
	</div>

<div class="center_info"> 
<div th:include="common/center"></div>
<div class="center_infor">
<div class="myorder_top">密码修改</div>
<div class="ud_password">
 <form action="/information/password" method="post"> 
   <table  border="0">
  <tr>
    <td width="141" height="50" align="right">原密码：</td>
    <td width="" height="63"><input name="odlPwd" type="password" class="changepa" />&nbsp;</td>
  </tr>
  <tr>
    <td height="50" align="right">新密码：</td>
    <td height="63"><label>
      <input type="password" name="newPwd" id="textfield" class="changepa" />
    </label></td>
  </tr>
  <tr>
    <td height="50" align="right">确认密码：</td>
    <td height="63"><label>
      <input type="password"  name="newPwd2" id="textfield2" class="changepa" />
    </label></td>
  </tr>
 </table>
 						<div class="ud-btns"> <button type="submit" tabindex="5" id="J_SubmitStatic">保存修改</button></div>

 </form>
 </div>
</div>
</div>   
<div th:include="common/foot"></div>     
</body>
</html>
